<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>

        <meta charset="utf-8" />
        <title>Login - Carcharger 2020</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="{{ url_for('static', filename='images/carcharger32.ico') }}">
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

		<meta name="theme-color" content="#3BAFDA">

        <!-- App css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icons.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

        <!-- jQuery  -->
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script><!-- Popper for Bootstrap --><!-- Tether for Bootstrap -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/waves.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.slimscroll.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.nicescroll.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.scrollTo.min.js') }}"></script>

        <!-- Notification js -->
        <script src="{{ url_for('static', filename='plugins/notifyjs/dist/notify.min.js') }}"></script>
        <script src="{{ url_for('static', filename='plugins/notifications/notify-metro.js') }}"></script>

        <script src="{{ url_for('static', filename='js/jquery.core.js') }}"></script>

        <!-- Fontawesome -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/fontawesome/5.12.0/css/all.css') }}">

		<!-- Add webpage to the iOS Home screen. -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/splash.png') }}">
		<!-- iOS Launch Screen Image -->
		<link rel="apple-touch-startup-image" href="{{ url_for('static', filename='images/splash512.png') }}">
		<!-- Adding a Launch Icon Title -->
		<meta name="apple-mobile-web-app-title" content="Splash">
		<!-- Hide Safari User Interface Components -->
		<!-- Set the apple-mobile-web-app-capable meta tag to yes to turn on standalone mode. -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- You can determine whether a webpage is displaying in standalone mode using the window.navigator.standalone read-only Boolean JavaScript property. -->
		<!-- Changing the Status Bar Appearance -->
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="msapplication-starturl" content="/">

        <style>
        button {
            cursor: pointer;
        }
        button#cancel {
            padding-left: 5;
            float: left;
        }
        </style>
        <script>
        jQuery(document).ready(function () {
            $('button#cancel').click(function(){
                window.location.href = "/"
            })
            $("input[id^=show_]").click(function() {
                id = $(this).attr('id').split("show_").pop()
                $('input[id='+id).attr(
                    'type', 
                (    $('input[id='+id).attr('type') === "password" ? 'text' : 'password')
                    )
            })
        })
        </script>        
    </head>
    <body>

<div class="wrapper-page">

  <div class="text-center">
      <span class="logo-lg"><i class="fas fa-key"></i></i> <span>Wijzig admin wachtwoord</span> </span>
  </div>

  {% if msg %}
  <div class="text-center" style="color: #ef5350;">
    <span class="mdi mdi-alert-outline"><span style="font-weight: bold;"> {{ msg }}</span></span>
  </div>
  {% endif %}

{% if form.errors %}
{{ form.errors }}
{% endif %}

    <form id="change_password_form" class="form-horizontal m-t-20" method="POST" action="/change_password">
        {{ form.csrf_token }}

        <div class="form-group row">
            <div class="col-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-fingerprint"></i></span>
                    <input class="form-control" id="current_password" name="current_password" type="password" required="" placeholder="Current password">
                </div>
            </div>
            <div class="input-group">
                <div class="checkbox checkbox-success form-check-inline" style="margin-left: 54px;">
                    <input type="checkbox" id="show_current_password" name="show_current_password" value="y">
                    <label for="show_current_password"> Show </label>
                </div>
            </div>
        </div>

        <span class="alert-danger" title="Must be at least 8 characters long. Must include at least 1 uppercase. Must include at least 1 number. Must include at least 1 lowercase. Must include at least 1 punctuation character. Cannot include your user name. Cannot include number sequences. Cannot include keyboard letter sequences. Cannot include alphabetic sequences. Cannot be like a common password. Rules do not apply if password is greater than 16 characters.">?</span> 

        <div class="form-group row">
            <div class="col-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-key"></i></span>
                    <input class="form-control" id="new_password" name="new_password" type="password" required="" placeholder="New password">
                    <span class="input-group-btn">
                        <button type="button" class="btn waves-effect waves-light btn-primary"><i class="fas fa-info-circle"></i></button>
                    </span>
                </div>
                <div class="input-group">
                    <div class="checkbox checkbox-success form-check-inline" style="margin-left: 46px;">
                        <input type="checkbox" id="show_new_password" name="show_new_password" value="y">
                        <label for="show_new_password"> Show </label>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-equals"></i></span>
                    <input class="form-control" id="confirm_password" name="confirm_password" type="password" required="" placeholder="Confirm password">
                    <span class="input-group-btn">
                        <button type="button" class="btn waves-effect waves-light btn-primary"><i class="fas fa-info-circle"></i></button>
                    </span>
                </div>
                <div class="input-group">
                    <div class="checkbox checkbox-success form-check-inline" style="margin-left: 46px;">
                        <input type="checkbox" id="show_confirm_password" name="show_confirm_password" value="y">
                        <label for="show_confirm_password"> Show </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group text-right m-t-20">
            <div class="col-xs-12">
                <button id="cancel" class="btn btn-primary btn-custom w-md waves-effect waves-light" type="button">Annuleren</button>
                <button class="btn btn-primary btn-custom w-md waves-effect waves-light" type="submit">Wijzigen</button>
            </div>
        </div>

    </form>
</div>

</body>
    
</html>