<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>

        <meta charset="utf-8" />
        <title>Login - Carcharger 2020</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="{{ url_for('static', filename='images/carcharger32.ico') }}">
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

		<meta name="theme-color" content="#3BAFDA">

        <!-- App css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icons.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

        <!-- jQuery  -->
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script><!-- Popper for Bootstrap --><!-- Tether for Bootstrap -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/waves.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.slimscroll.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.nicescroll.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.scrollTo.min.js') }}"></script>

        <!-- Notification js -->
        <script src="{{ url_for('static', filename='plugins/notifyjs/dist/notify.min.js') }}"></script>
        <script src="{{ url_for('static', filename='plugins/notifications/notify-metro.js') }}"></script>

        <script src="{{ url_for('static', filename='js/jquery.core.js') }}"></script>

        <!-- Fontawesome -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/fontawesome/5.12.0/css/all.css') }}">

		<!-- Add webpage to the iOS Home screen. -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/splash.png') }}">
		<!-- iOS Launch Screen Image -->
		<link rel="apple-touch-startup-image" href="{{ url_for('static', filename='images/splash512.png') }}">
		<!-- Adding a Launch Icon Title -->
		<meta name="apple-mobile-web-app-title" content="Splash">
		<!-- Hide Safari User Interface Components -->
		<!-- Set the apple-mobile-web-app-capable meta tag to yes to turn on standalone mode. -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- You can determine whether a webpage is displaying in standalone mode using the window.navigator.standalone read-only Boolean JavaScript property. -->
		<!-- Changing the Status Bar Appearance -->
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="msapplication-starturl" content="/">

        <style>
        button {
            cursor: pointer;
        }
        </style>
    
        <script>
        jQuery(document).ready(function () {
            $('button#go_home').click(function(){
                window.location.href = "/"
            })
        })
        </script>
    </head>
    <body>

<div class="wrapper-page">

  <div class="text-center">
      <span class="logo-lg"><i class="fas fa-key"></i></i> <span>Success</span> </span>
  </div>

    <form id="change_password_form" class="form-horizontal m-t-20" method="POST" action="/change_password">

        <div class="form-group text-right m-t-20">
            <div class="col-xs-12">
                <button id="go_home" class="btn btn-primary btn-custom w-md waves-effect waves-light" type="button">Terug</button>
            </div>
        </div>

    </form>
</div>

</body>
    
</html>