{% extends "template.html" %}
{% block title %}Instellingen{% endblock %}
{% block jquery %} 
  {% include 'includes/include.jquery-3.3.1.html' %}
{% endblock %} 
{% block head %}
  {{ super() }}
  
  <!-- Socket IO -->
  <script src="{{ url_for('static', filename='plugins/socket.io/2.3.0/socket.io.js') }}"></script>

  <!-- Bootstrap switch button -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap4-toggle/3.6.1/bootstrap4-toggle.min.css') }}">
  <script src="{{ url_for('static', filename='plugins/bootstrap4-toggle/3.6.1/bootstrap4-toggle.min.js') }}"></script>

  <style>
    .paginate_button {
        padding: 0px !important;
    }
    .XXtbody td {
      padding: 2px 2px !important;
      text-align: center;
      background-color: #36404a;
    }
    td.diag_pre {
      box-sizing: inherit;
      overflow-x: hidden !important;
    }
    td.diag_name {
      text-align: right;
      vertical-align: top;
      padding: 10px;
      width: 60px;
    }
    td.diag_value {
      color: #3bafda;
      text-align: left;
      margin-left: 10px;
    }
    td.diag_value ul li {
      list-style-type: none;
    }
    td.diag_value ul li span:nth-of-type(1) {
      display: inline-block;
      width: 50px;
    }
    td.diag_value ul li span:nth-of-type(2) {
      display: inline-block;
      width: 100px;
      text-align: right;
    }
    .set_title {
      padding-left: 100px;
      padding-bottom: 20px;
    }
    .set_name {
      text-align: left;
      padding-left: 110px;
      /* background-color: red; */
      text-decoration: underline;
    }
    .set_val {
      text-align: left;
      padding-left: 140px;
      display: flex;
    }
    .set_val_last {
      padding-bottom: 20px;
    }
    .set_val_name {
      width: 120px;
/*      background-color: royalblue; */
      text-align: right;
      padding-right: 20px;
    }
    .set_val_val {
      text-align: left;
      width: 200px;
/*      background-color: sandybrown; */
      padding-left: 20px;
    }
    .set_val_val_right {
      text-align: right;
      width: 100px;
/*      background-color: sandybrown; */
      padding-left: 20px;
    }



    div.hours-of-day {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      width: 100%;
      height: .5em;
      margin-top: 0;
      /* background-color: red;*/
    }

    td[id^="offPeak"] {
      padding: 0px;
      padding-top: 5px;
      margin: 0px;
    }
    td[id^="offPeak"] > div:nth-child(1) {
      background-color: #ef5350;
      margin-bottom: 2px;
    }
    td[id^="offPeak"] > div:nth-child(2) {
      margin-bottom: 2px;
    }

    div.hours-of-day span {
      width: 4.166%;
      /*background-color: #00b19d; */
      border-right: 1px solid #868e96; 
      border-top: 1px solid #868e96; 
      font-size: 10px; 
      color: #868e96; /* green: #00b19d orange #ffaa00 */
    }
    div.hours-of-day span:nth-child(1) {
      border-left: 1px solid #868e96; 
    }


  </style>

  <script>
    function timestamp() {
      d = new Date();
      return (d.getFullYear() + "-" + 
             (d.getMonth()<10?'0':'') + (d.getMonth()+1) + "-" + 
             (d.getDate()<10?'0':'') + d.getDate() + '.' + 
             (d.getHours()<10?'0':'') + d.getHours() + ":" + 
             (d.getMinutes()<10?'0':'') + d.getMinutes() + "." + 
             (d.getSeconds()<10?'0':'') + d.getSeconds() + '.' + 
             (d.getMilliseconds()<100?'0':'') + (d.getMilliseconds()<10?'0':'') + d.getMilliseconds()
      )
    }

    function updateSettings( param, value ) {
      console.log(timestamp() + ' updateSettings()')            
      // Show spinner
      $('.spinner').show()
      data = {
            csrf_token    : '{{ csrf_token() }}' 
          }
      $.ajax({
        type		    : 'POST',
        url			    : ('/update_settings/' + param +'/' + value),
        dataType	  : 'json',
        headers     : { 'ignore-login-next': 'true' },
        encode		  : true,
        data        : data
      }) // using the done promise callback
      .done(function(data) {
        // log data to the console so we can see
        console.log(data)
        switch (data.status) {
          case 200:
            $.Notification.autoHideNotify('success', 'top left', 'Gewijzigd', 'Instelling aangepast.');
            break
          case 404:
          default:
            $.Notification.notify('warning','top left', 'Onbekend', 'Instelling onbekend. Niet gewijzigd.');
            break
        }

      })
      .fail(function(data) {
        $.Notification.notify('error','top left', 'Connectie fout', 'Instelling niet gewijzigd.');
      })
      .always(function() {
        // Remove spinner
        $('.spinner').hide()
      })
    }

    var diag_data = {{ diag_json | safe }}

    jQuery(document).ready(function() {
      console.log(timestamp() + " file load completed!")
      $('pre#diag_json').html( 
        JSON.stringify(diag_data, undefined, 2) 
      )
      $('pre#diag_json').show()
      $('input#peakHoursAllowPeakOnePeriod').bootstrapToggle()
      $('input#peakHoursAllowPeakOnePeriod').change(function() {
        updateSettings( 'peakHoursAllowPeakOnePeriod', $(this).prop('checked') )
      })
      $('input#peakHoursOffPeakEnabled').bootstrapToggle()
      $('input#peakHoursOffPeakEnabled').change(function() {
        updateSettings( 'peakHoursOffPeakEnabled', $(this).prop('checked') )
      })

      $('input#autoSessionEnabled').bootstrapToggle()
      $('input#autoSessionEnabled').change(function() {
        updateSettings( 'autoSessionEnabled', $(this).prop('checked') )
      })
      $('input#autoSessionCondenseSameOdometer').bootstrapToggle()
      $('input#autoSessionCondenseSameOdometer').change(function() {
        updateSettings( 'autoSessionCondenseSameOdometer', $(this).prop('checked') )
      })
      /*
      for (i = 0; i < 24; i++) {
        $('td[id^=offPeak] > div:nth-child(2)').append( "<span>" + (i %24) + "</span>" )
      }
      */
      $('td[id^=offPeak] > div:nth-child(2)').each(function( index ) {
        var id = $(this).parent().attr("id")
        for (i = 0; i < 24; i++) {
          $(this).append( "<span style='color: #00b19d;'>" + (i %24) + "</span>" )
        }
      })

      // Remove spinner
      $('.spinner').hide()
    })

    </script>

{% endblock %}
{% block content %}

<div class="wrapper" id="{{ var1 }}">
  <div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
            </div>
        </div>
    </div>
    <!-- end page title end breadcrumb -->


    <div class="row">
      <div class="col-md-12">
          <div class="card-box">
              <h4 class="header-title m-t-0 m-b-30">Instellingen</h4>

              <ul class="nav nav-tabs tabs-bordered nav-justified">
                <li class="nav-item">
                  <a href="#v-charger" class="nav-link{% if active==1 %} active{% endif %}" data-toggle="tab" aria-expanded="false"><i class="fas fa-charging-station"></i> Laadpunt</a>
                </li>
                <li class="nav-item">
                  <a href="#v-kwhmeter" class="nav-link{% if active==2 %} active{% endif %}" data-toggle="tab" aria-expanded="true"><i class="fas fa-tachometer-alt"></i> kWh meter</a>
                </li>
                <li class="nav-item">
                  <a href="#v-network" class="nav-link{% if active==3 %} active{% endif %}" data-toggle="tab" aria-expanded="true"><i class="fas fa-network-wired"></i> Netwerk</a>
                </li>
                <li class="nav-item">
                  <a href="#v-database" class="nav-link{% if active==4 %} active{% endif %}" data-toggle="tab" aria-expanded="true"><i class="fas fa-database"></i> Database</a>
                </li>
                <li class="nav-item">
                  <a href="#v-hardware" class="nav-link{% if active==5 %} active{% endif %}" data-toggle="tab" aria-expanded="true"><i class="fas fa-microchip"></i> Hardware</a>
                </li>
                <li class="nav-item">
                  <a href="#v-diagnostics" class="nav-link{% if active==6 %} active{% endif %}" data-toggle="tab" aria-expanded="true"><i class="fas fa-stethoscope"></i> Diagnostics</a>
                </li>
              </ul>

              <div class="tab-content">

                  <div class="tab-pane{% if active==1 %} active{% endif %}" id="v-charger">
                    <div class="col-lg-12">
                      <div class="card-box">
                        <h4 class="m-t-0 header-title"><i class="fas fa-charging-station"></i> Laadpunt</h4>
                        <table class="table table-striped table-sm">
                          <tbody>
                            {% if ('charger_name' in charger_config) %}
                            <tr>
                              <td class="text-dark">Naam laadpunt:</td>
                              <td class="text-primary" style="width: 75%;">{{ charger_config['charger_name'] }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                              <td class="text-dark">kWh Factor:</td >
                              <td class="text-primary">{{ webappconfig.factor_Whkm }}</td>
                            </tr>
                            {% if ('charger_tariff' in charger_config) %}
                            <tr>
                              <td class="text-dark">Laadpunt tarief:</td >
                              <td class="text-primary">&euro;  {{ charger_config['charger_tariff'] }}</td>
                            </tr>
                            {% endif %}
                            {% if ('modified_at' in charger_config) %}
                            <tr>
                              <td class="text-dark">Laatste wijziging:</td>
                              <td class="text-primary">{{ charger_config['modified_at'] }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                              <th colspan="2">&nbsp;</th>
                            </tr>
                            <tr>
                              <th colspan="2" style="line-height: 40px;">
                                <h4 class="m-t-0 header-title"><i class="fas fa-tasks"></i> Daluren</h4>
                              </th>
                            </tr>
                            <tr>
                              <td class="text-dark">Alleen laden binnen daluren:</td>
                              <td class="text-primary">
                                <form id="peak-hours-off-peak-enabled-form">
                                  <input type="checkbox" 
                                    {% if webappconfig.peakHoursOffPeakEnabled %}checked{% endif %}
                                    name="peakHoursOffPeakEnabled"
                                    id="peakHoursOffPeakEnabled"
                                    data-toggle="toggle"
                                    data-on="<i class='far fa-thumbs-up'></i></i> JA"
                                    data-off="<i class='far fa-thumbs-down'></i> NEE"
                                    data-onstyle="primary"
                                    data-offstyle="dark"
                                    data-size="sm"
                                    data-height="30"
                                    data-width="70"
                                  />
                                </form>
                              </td>
                            </tr>
                            <tr>
                              <td class="text-dark">Eenmalig laden buiten daluren:</td>
                              <td class="text-primary">
                                <form id="peak-hours-allow-peak-once-form">
                                  <input type="checkbox" 
                                    {% if webappconfig.peakHoursAllowPeakOnePeriod %}checked{% endif %}
                                    name="peakHoursAllowPeakOnePeriod"
                                    id="peakHoursAllowPeakOnePeriod"
                                    data-toggle="toggle"
                                    data-on="<i class='far fa-thumbs-up'></i></i> JA"
                                    data-off="<i class='far fa-thumbs-down'></i> NEE"
                                    data-onstyle="primary"
                                    data-offstyle="dark"
                                    data-size="sm"
                                    data-height="30"
                                    data-width="70"
                                  />
                                </form>
                              </td>
                            </tr>

                            {% if 'offPeak' in diag and 'allReps' in diag['offPeak'] %}
                            {% for weekday in diag['offPeak']['allReps'] %}
                            {% set weekdayOffPeak = diag['offPeak']['allReps'][weekday] %}
                            <tr>
                              <td class="text-dark">{{ weekday }}:</td>
                              <td class="text-primary" id="offPeak{{ weekday }}">
                                <div class="progress">
                                  {% for section in weekdayOffPeak %}
                                  {% set diffMins = section['diffMins'] %}
                                  {% set diffMinsPercentage = (diffMins / (24 * 60)) *100 %}
                                  {% set offPeak = section['offPeak'] %}
                                  <div class="progress-bar progress-bar-striped {% if section['offPeak'] %}progress-bar-animated bg-success{% else %}bg-danger{% endif %}" role="progressbar" style="width: {{ diffMinsPercentage }}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                  {% endfor %}
                                </div>
                                <div class="hours-of-day"></div>
                              </td>
                            </tr>
                            {%- endfor -%}
                            {%- endif -%}

                            {% if 'offPeak' in diag and 'all' in diag['offPeak'] %}
                            {% for offPeak in diag['offPeak']['all'] %}
                            {% if offPeak.is_holiday() %}
                            <tr>
                              <td class="text-dark">{{ offPeak.description }}:</td>
                              <td class="text-primary">
                                {% if offPeak.recurring %} 
                                  Elk jaar op {{ offPeak.holiday_day }} {{ offPeak.monthNlStr() }}
                                {% endif %}
                                {% if not offPeak.recurring %} 
                                  In {{ offPeak.holiday_year }} op {{ offPeak.holiday_day }} {{ offPeak.monthNlStr() }}
                                {% endif %}
                              </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                          </tbody>


                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane{% if active==2 %} active{% endif %}" id="v-kwhmeter">
                    <div class="col-lg-6">
                      <div class="card-box">
                        <h4 class="m-t-0 header-title"><i class="fas fa-tachometer-alt"></i> kWh meter</h4>
                        <table class="table table-striped table-sm">
                          <tbody>
                            {% if (energydevicemodel is not none) %}
                            <tr>
                              <td class="text-dark">Device interface:</td>
                              <td class="text-primary">Modbus</td>
                            </tr>
                            <tr>
                              <td class="text-dark">Port name:</td>
                              <td class="text-primary">{{ energydevicemodel.port_name }}</td>
                            </tr>
                            <tr>
                              <td class="text-dark">Slave address:</td>
                              <td class="text-primary">{{ energydevicemodel.slave_address }}</td>
                            </tr>
                            <tr>
                              <td class="text-dark">Mode:</td>
                              <td class="text-primary">{{ energydevicemodel.mode }}</td>
                            </tr>
                            <tr>
                              <td class="text-dark">Snelheid:</td>
                              <td class="text-primary">{{ energydevicemodel.baudrate }}</td>
                            </tr>
                            <tr>
                              <td class="text-dark">Byte size:</td >
                              <td class="text-primary">{{ energydevicemodel.bytesize }}</td>
                            </tr>
                            <tr>
                              <td class="text-dark">Stop bits:</td >
                              <td class="text-primary">{{ energydevicemodel.stopbits }}</td>
                            </tr>
                            <tr>
                              <td class="text-dark">Parity:</td >
                              <td class="text-primary">{{ energydevicemodel.parity }}</td>
                            </tr>
                            <tr>
                              <td class="text-dark">Modbus timeout:</td>
                              <td class="text-primary">{{ energydevicemodel.modbus_timeout }}</td>
                            </tr>
                            <tr>
                              <td class="text-dark">Serial timeout:</td>
                              <td class="text-primary">{{ energydevicemodel.serial_timeout }}</td>
                            </tr>
                            <tr>
                              <td class="text-dark">Debug:</td>
                              <td class="text-primary">{{ energydevicemodel.debug }}</td>
                            </tr>
                            <tr>
                              <td class="text-dark">Close port after each call:</td>
                              <td class="text-primary">{{ energydevicemodel.close_port_after_each_call }}</td>
                            </tr>
                            {% endif %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane{% if active==3 %} active{% endif %}" id="v-network">
                    <div class="col-lg-6">
                      <div class="card-box">
                        <h4 class="m-t-0 header-title"><i class="fas fa-network-wired"></i> Netwerk</h4>
                        <table class="table table-striped table-sm">
                          <tbody>
                            {% if ('ip' in diag and 'eth0' in diag['ip'] and 'INET' in diag['ip']['eth0'] and diag['ip']['eth0']['INET'] | length > 0 and 'addr' in diag['ip']['eth0']['INET'][0]) %}
                            <tr>
                              <td class="text-dark">IPv4:</td>
                              <td class="text-primary">{{ diag['ip']['eth0']['INET'][0]['addr'] }}</td>
                            </tr>
                            {% endif %}
                            {% if ('ip' in diag and 'en0' in diag['ip'] and 'INET' in diag['ip']['en0'] and diag['ip']['en0']['INET'] | length > 0 and 'addr' in diag['ip']['en0']['INET'][0]) %}
                            <tr>
                              <td class="text-dark">IPv4:</td>
                              <td class="text-primary">{{ diag['ip']['en0']['INET'][0]['addr'] }}</td>
                            </tr>
                            {% endif %}
                            {% if ('ip' in diag and 'eth0' in diag['ip'] and 'INET6' in diag['ip']['eth0'] and diag['ip']['eth0']['INET6'] | length > 0 and 'addr' in diag['ip']['eth0']['INET6'][0]) %}
                            <tr>
                              <td class="text-dark">IPv6:</td>
                              <td class="text-primary">{{ diag['ip']['eth0']['INET6'][0]['addr'] }}</td>
                            </tr>
                            {% endif %}
                            {% if ('ip' in diag and 'en0' in diag['ip'] and 'INET6' in diag['ip']['en0'] and diag['ip']['en0']['INET6'] | length > 0 and 'addr' in diag['ip']['en0']['INET6'][0]) %}
                            <tr>
                              <td class="text-dark">IPv6:</td>
                              <td class="text-primary">{{ diag['ip']['en0']['INET6'][0]['addr'] }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                              <td class="text-dark">HTTP Host:</td>
                              <td class="text-primary">{{ webappconfig.httpHost }}</td>
                            </tr>
                            <tr>
                              <td class="text-dark">HTTP Port:</td>
                              <td class="text-primary">{{ webappconfig.httpPort }}</td>
                            </tr>
                            <tr>
                              <td class="text-dark">Reloader:</td>
                              <td class="text-primary">{{ webappconfig.useReloader }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane{% if active==4 %} active{% endif %}" id="v-database">
                    <div class="col-lg-12">
                      <div class="card-box">
                        <h4 class="m-t-0 header-title"><i class="fas fa-database"></i> Database</h4>
                        <table class="table table-striped table-sm">
                          <tbody>
                            <tr>
                              <td class="text-dark">Database:</td>
                              <td class="text-primary">Postgres</td>
                            </tr>
                            <tr>
                              <td class="text-dark">URL:</td>
                              <td class="text-primary">{{ webappconfig.DATABASE_URL }}</td>
                            </tr>
                            <tr>
                              <td class="text-dark">SQLAlchemy URL:</td>
                              <td class="text-primary">{{ webappconfig.SQLALCHEMY_DATABASE_URI }}</td>
                            </tr>
                            <tr>
                              <td class="text-dark">SQLAlchemy Pool Status:</td>
                              <td class="text-primary">{{ webappconfig.sqlAlchemyPoolStatus() }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>


                  <div class="tab-pane{% if active==5 %} active{% endif %}" id="v-hardware">
                    <div class="col-lg-6">
                      <div class="card-box">
                        <h4 class="m-t-0 header-title"><i class="fas fa-microchip"></i> Platform</h4>
                        <table class="table table-striped table-sm">
                          <tbody>
                            {% if ('model' in diag) %}
                            <tr>
                              <td class="text-dark" style="min-width: 200px;">Model:</td>
                              <td class="text-primary">{{ diag['model'] }}</td>
                            </tr>
                            {% endif %}
                            {% if ('revision' in diag) %}
                            <tr>
                              <td class="text-dark">Revision:</td>
                              <td class="text-primary">{{ diag['revision'] }}</td>
                            </tr>
                            {% endif %}
                            {% if ('proc' in diag) %}
                            <tr>
                              <td class="text-dark">Processor:</td>
                              <td class="text-primary">{{ diag['proc'] }}</td>
                            </tr>
                            {% endif %}
                            {% if ('threading' in diag and 'active_count' in diag['threading']) %}
                            <tr>
                              <td class="text-dark">Thread count:</td>
                              <td class="text-primary">{{ diag['threading']['active_count'] }}</td>
                            </tr>
                            {% endif %}
                            {% if ('threading' in diag and 'enum' in diag['threading']) %}
                            {% for thread in diag['threading']['enum'] %}
                            <tr>
                              {% if diag['threading']['enum'].index(thread) == 0 %}
                              <td class="text-dark">Threads:</td>
                              {% else %}
                              <td class="text-dark">&nbsp;</td>
                              {% endif %}
                              <td class="text-primary">{{ thread.name }}</td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                            <tr>
                              <th colspan="2">&nbsp;</th>
                            </tr>
                            <tr>
                              <th colspan="2" style="line-height: 40px;">
                                <h4 class="m-t-0 header-title"><i class="fas fa-tasks"></i> General-Purpose Input/Output (GPIO)</h4>
                              </th>
                            </tr>
                            <tr>
                              <td class="text-dark">GPIO Mode:</td>
                              <td class="text-primary">{{ webappconfig.gpioMode }}</td>
                            </tr>
                            <tr>
                              <td class="text-dark">Red Led:</td>
                              <td class="text-primary">{% if webappconfig.gpioMode == 'BCM' %}GPIO{% else %}Pin {% endif %}{{ webappconfig.pinLedRed }}</td>
                            </tr>
                            <tr>
                              <td class="text-dark">Green Led:</td>
                              <td class="text-primary">{% if webappconfig.gpioMode == 'BCM' %}GPIO{% else %}Pin {% endif %}{{ webappconfig.pinLedGreen }}</td>
                            </tr>
                            <tr>
                              <td class="text-dark">Blue Led:</td>
                              <td class="text-primary">{% if webappconfig.gpioMode == 'BCM' %}GPIO{% else %}Pin {% endif %}{{ webappconfig.pinLedBlue }}</td>
                            </tr>
                            <tr>
                              <td class="text-dark">Buzzer:</td>
                              <td class="text-primary">{% if webappconfig.gpioMode == 'BCM' %}GPIO{% else %}Pin {% endif %}{{ webappconfig.pinBuzzer }}</td>
                            </tr>
                            <tr>
                              <td class="text-dark">EVSE Switch:</td>
                              <td class="text-primary">{% if webappconfig.gpioMode == 'BCM' %}GPIO{% else %}Pin {% endif %}{{ webappconfig.pinEvseSwitch }}</td>
                            </tr>
                            <tr>
                              <td class="text-dark">EVSE Led:</td>
                              <td class="text-primary">{% if webappconfig.gpioMode == 'BCM' %}GPIO{% else %}Pin {% endif %}{{ webappconfig.pinEvseLed }}</td>
                            </tr>
                            <tr>
                              <th colspan="2">&nbsp;</th>
                            </tr>
                            <tr>
                              <th colspan="2" style="line-height: 40px;">
                                <h4 class="m-t-0 header-title"><i class="fas fa-tasks"></i> LED Pulse levels</h4>
                              </th>
                            </tr>
                            <tr>
                              <td class="text-dark">Led pulse min:</td>
                              <td class="text-primary">{{ webappconfig.pulseLedMin }}%</td>
                            </tr>
                            <tr>
                              <td class="text-dark">Led pulse max:</td>
                              <td class="text-primary">{{ webappconfig.pulseLedMax }}%</td>
                            </tr>
                            <tr>
                              <th colspan="2">&nbsp;</th>
                            </tr>
                            <tr>
                              <th colspan="2" style="line-height: 40px;">
                                <h4 class="m-t-0 header-title"><i class="fas fa-tasks"></i> Auto-session</h4>
                              </th>
                            </tr>
                            <tr>
                              <td class="text-dark">Ingeschakeld:</td>
                              <td class="text-primary">
                                <form id="peak-hours-off-peak-enabled-form">
                                  <input type="checkbox" 
                                    {% if webappconfig.autoSessionEnabled %}checked{% endif %}
                                    name="autoSessionEnabled"
                                    id="autoSessionEnabled"
                                    data-toggle="toggle"
                                    data-on="<i class='far fa-thumbs-up'></i></i> JA"
                                    data-off="<i class='far fa-thumbs-down'></i> NEE"
                                    data-onstyle="primary"
                                    data-offstyle="dark"
                                    data-size="sm"
                                    data-height="30"
                                    data-width="70"
                                  />
                                </form>
                              </td>
                            </tr>
                            <tr>
                              <td class="text-dark">Minutes:</td>
                              <td class="text-primary">{{ webappconfig.autoSessionMinutes }}</td>
                            </tr>
                            <tr>
                              <td class="text-dark">Energy:</td>
                              <td class="text-primary">{{ webappconfig.autoSessionEnergy }}kWh</td>
                            </tr>
                            <tr>
                              <td class="text-dark">Condense sessies:</td>
                              <td class="text-primary">
                                <form id="peak-hours-off-peak-enabled-form">
                                  <input type="checkbox" 
                                    {% if webappconfig.autoSessionCondenseSameOdometer %}checked{% endif %}
                                    name="autoSessionCondenseSameOdometer"
                                    id="autoSessionCondenseSameOdometer"
                                    data-toggle="toggle"
                                    data-on="<i class='far fa-thumbs-up'></i></i> JA"
                                    data-off="<i class='far fa-thumbs-down'></i> NEE"
                                    data-onstyle="primary"
                                    data-offstyle="dark"
                                    data-size="sm"
                                    data-height="30"
                                    data-width="70"
                                  />
                                </form>
                              </td>
                            </tr>
                                                        
                            {% if ('os' in diag) %}
                            <tr>
                              <th colspan="2">&nbsp;</th>
                            </tr>
                            <tr>
                              <th colspan="2" style="line-height: 40px;">
                                <h4 class="m-t-0 header-title"><i class="fas fa-tasks"></i> OS</h4>
                              </th>
                            </tr>
                            {% for os_line in diag['os'] %}
                            <tr>
                              <td class="text-dark">&nbsp;</td>
                              <td class="text-primary">{{ os_line }}</td>
                            </tr>
                            {% endfor %}
                            {% endif %}

                            <tr>
                              <th colspan="2">&nbsp;</th>
                            </tr>
                            <tr>
                              <th colspan="2" style="line-height: 40px;">
                                <h4 class="m-t-0 header-title"><i class="fas fa-hdd"></i> Disk</h4>
                              </th>
                            </tr>
                            <tr>
                              <td class="text-dark">Root:</td>
                              <td class="text-primary">/</td>
                            </tr>
                            {% if ('disk' in diag and 'total' in diag['disk'] and 'size' in diag['disk']['total'] and 'unit' in diag['disk']['total']) %}
                            <tr>
                              <td class="text-dark">Total:</td>
                              <td class="text-primary">{{ diag['disk']['total']['size'] }} {{ diag['disk']['total']['unit'] }}</td>
                            </tr>
                            {% endif %}    
                            {% if ('disk' in diag and 'free' in diag['disk'] and 'size' in diag['disk']['free'] and 'unit' in diag['disk']['free']) %}
                            <tr>
                              <td class="text-dark">Free:</td>
                              <td class="text-primary">{{ diag['disk']['free']['size'] }} {{ diag['disk']['free']['unit'] }}</td>
                            </tr>
                            {% endif %}
                            {% if ('disk' in diag and 'used' in diag['disk'] and 'size' in diag['disk']['used'] and 'unit' in diag['disk']['used']) %}
                            <tr>
                              <td class="text-dark">Used:</td>
                              <td class="text-primary">{{ diag['disk']['used']['size'] }} {{ diag['disk']['used']['unit'] }}</td>
                            </tr>
                            {% endif %}
                            {% if ('disk' in diag and 'percent' in diag['disk']) %}
                            <tr>
                              <td class="text-dark">&nbsp;</td>
                              <td class="text-primary">{{ diag['disk']['percent'] }}% in use</td>
                            </tr>
                            {% endif %}

                            <tr>
                              <th colspan="2">&nbsp;</th>
                            </tr>
                            <tr>
                              <th colspan="2" style="line-height: 40px;">
                                <h4 class="m-t-0 header-title"><i class="fas fa-memory"></i> Memory</h4>
                              </th>
                            </tr>
                            {% if ('pmem' in diag and diag['pmem'] is not none and 'MemTotalFormatted' in diag['pmem'] and 'size' in diag['pmem']['MemTotalFormatted'] and 'unit' in diag['pmem']['MemTotalFormatted']) %}
                            <tr>
                              <td class="text-dark">Total:</td>
                              <td class="text-primary">{{ diag['pmem']['MemTotalFormatted']['size'] }} {{ diag['pmem']['MemTotalFormatted']['unit'] }}</td>
                            </tr>
                            {% endif %}
                            {% if ('pmem' in diag and diag['pmem'] is not none and 'MemFreeFormatted' in diag['pmem'] and 'size' in diag['pmem']['MemFreeFormatted'] and 'unit' in diag['pmem']['MemFreeFormatted']) %}
                            <tr>
                              <td class="text-dark">Free:</td>
                              <td class="text-primary">{{ diag['pmem']['MemFreeFormatted']['size'] }} {{ diag['pmem']['MemFreeFormatted']['unit'] }}</td>
                            </tr>
                            {% endif %}
                            {% if ('pmem' in diag and diag['pmem'] is not none and 'MemAvailableFormatted' in diag['pmem'] and 'size' in diag['pmem']['MemAvailableFormatted'] and 'unit' in diag['pmem']['MemAvailableFormatted']) %}
                            <tr>
                              <td class="text-dark">Available:</td>
                              <td class="text-primary">{{ diag['pmem']['MemAvailableFormatted']['size'] }} {{ diag['pmem']['MemAvailableFormatted']['unit'] }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                              <th colspan="2">&nbsp;</th>
                            </tr>
                            <tr>
                              <th colspan="2" style="line-height: 40px;">
                                <h4 class="m-t-0 header-title"><i class="fas fa-clipboard-list"></i> Logging</h4>
                              </th>
                            </tr>
                            <tr>
                              <td class="text-dark">Logfile:</td>
                              <td class="text-primary">{{ webappconfig.LOG_FILE }}</td>
                            </tr>
                          </tbody>
                        </table>

                      </div>
                    </div>
                  </div>

                  <div class="tab-pane{% if active==6 %} active{% endif %}" id="v-diagnostics">
                    <div class="col-lg-12">
                      <div class="card-box">
                        <h4 class="m-t-0 header-title"><i class="fas fa-network-wired"></i> Diagnostics</h4>
                        <table class="table table-striped table-sm">
                          <tbody>
                            <tr>
                              <td class="text-dark">
                                <pre id="diag_json" style="color:rgba(255, 255, 255, 0.7);"></pre>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                      </div>
                    </div>
                  </div>

          </div>
      </div> <!-- end col -->
    </div> <!-- end row -->

  </div>
</div>
{% endblock %}
