{% extends "template.html" %}
{% block title %}RFID Tokens{% endblock %}
{% block jquery %} 
  {% include 'includes/include.jquery-3.3.1.html' %}
{% endblock %} 
{% block head %}
  {{ super() }}

  <!-- DataTables CSS -->
  <link href="{{ url_for('static', filename='plugins/datatables/1.10.20/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='plugins/datatables/buttons.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='plugins/buttons/1.6.1/buttons.dataTables.min.css') }}" rel="stylesheet" type="text/css" />

  <!-- Responsive datatable examples -->
  <link href="{{ url_for('static', filename='plugins/datatables/responsive.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />

  <!-- Required datatable js -->
  <script src="{{ url_for('static', filename='plugins/datatables/1.10.20/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap4.min.js') }}"></script>

  <!-- Buttons -->
  <script src="{{ url_for('static', filename='plugins/buttons/1.6.1/dataTables.buttons.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/datatables/buttons.bootstrap4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/buttons/1.6.1/buttons.flash.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/jszip/3.1.3/jszip.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/pdfmake/0.1.53/pdfmake.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/pdfmake/0.1.53/vfs_fonts.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/buttons/1.6.1/buttons.html5.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/buttons/1.6.1/buttons.print.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/datatables/buttons.colVis.min.js') }}"></script>

  <!-- Responsive -->
  <script src="{{ url_for('static', filename='plugins/datatables/dataTables.responsive.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/datatables/responsive.bootstrap4.min.js') }}"></script>
  
  <!-- Socket IO -->
  <script src="{{ url_for('static', filename='plugins/socket.io/2.3.0/socket.io.js') }}"></script>

  <style>
    .paginate_button {
        padding: 0px !important;
    }
    tbody td {
      padding: 2px 2px !important;
      text-align: center;
      background-color: #36404a;
    }
    div .dataTables_info {
      color: #98a6ad !important;
      margin-left: 5px;
    }
    div .dt-buttons {
      margin-bottom: 10px;
      margin-left: 3px;
    }
    div .dataTables_length {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 100%;
    }
    div .dataTables_length label {
      font-size: smaller;
      margin-left: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 100%;
      color: #98a6ad !important;
    }
    div .dataTables_length label select {
      width: 80px;
      margin-left: 10px;
      margin-right: 10px;
    }
  </style>

  <script>
    const months = {
      0: 'Januari',
      1: 'Februari',
      2: 'Maart',
      3: 'April',
      4: 'Mei',
      5: 'Juni',
      6: 'Juli',
      7: 'Augustus',
      8: 'September',
      9: 'Oktober',
      10: 'November',
      11: 'December'
    }
    function timestamp() {
      d = new Date();
      return (d.getFullYear() + "-" + 
             (d.getMonth()<10?'0':'') + (d.getMonth()+1) + "-" + 
             (d.getDate()<10?'0':'') + d.getDate() + '.' + 
             (d.getHours()<10?'0':'') + d.getHours() + ":" + 
             (d.getMinutes()<10?'0':'') + d.getMinutes() + "." + 
             (d.getSeconds()<10?'0':'') + d.getSeconds() + '.' + 
             (d.getMilliseconds()<100?'0':'') + (d.getMilliseconds()<10?'0':'') + d.getMilliseconds()
      )
    }
    function updateOAuthTokenStatus(d) {
      // d is expiration date
      return ('Tesla autorisatie verloopt ' + 
        d.getDate() + ' ' + 
        months[d.getMonth()] + ' ' + 
        d.getFullYear() + ', ' +
        d.getHours() + ':' + (d.getMinutes() < 10 ? '0' : '') + d.getMinutes() + 'u'
      )
    }
    var dt = undefined
    function getRfidTokens() {
      console.log(timestamp() + ' getRfidTokens()')
    
//      $.Notification.autoHideNotify('warning', 'top left', 'Loggin out', 'Logging out from Splash!');
            
      $.ajax({
        type		: 'GET',
        url			: '/rfid_tokens//json',
        dataType	: 'json',
            encode		: true
      }) // using the done promise callback
      .done(function(data) {
        // log data to the console so we can see
        console.log(data)
  //        $.Notification.autoHideNotify('success', 'top left', 'Logged out', 'Logged out of Splash. Redirecting to login page.');

        dt = $('table#usage').DataTable( {
          "pageLength": 25,
          "order": [[ 5, "desc" ]], // Last used
          dom: 'frt',
          buttons: [
          ],
          "createdRow": function(row, data, dataIndex) {
            $(row).toggleClass("text-info").fadeOut(800, function() {              
              $(this).toggleClass("text-info").fadeIn(50)
            })
          },
          "columnDefs": [{
            "targets": [1, 9, 11, 12],
            "sorting": false,
            "orderable": false
          }, {
            "targets": [10],
            "sorting": false,
            "orderable": false,
            "render": function (data, type, row) {
              if (row[6].toLowerCase() != 'tesla') {
                return '<span data-toggle="tooltip" \
                              data-placement="bottom" \
                              data-html="true" \
                              title="<em>Niet beschikbaar</em>" \
                              stype="cursor: not-allowed;" \
                              > \
                              <i class="fas fa-ban"></i> \
                        </span>'
              }
              const token_info = data.split('|')
              var t = updateOAuthTokenStatus(new Date((token_info[1] *1000) + (token_info[2] *1000))) 
              return ( (data == undefined || data == "None|None|None") ? 
                       '<span data-toggle="tooltip" \
                              data-placement="bottom" \
                              data-html="true" \
                              title="<em>Registreer</em>" \
                              onclick="window.location.href=\'/rfid_tokens/' + row[0] + '\'" \
                              > \
                              <i class="far fa-registered"></i> \
                        </span>' : 
                       '<span data-toggle="tooltip" \
                              data-placement="bottom" \
                              data-html="true" \
                              title="<em>' + t + '</em>" \
                              onclick="window.location.href=\'/rfid_tokens/' + row[0] + '\'" \
                              > \
                              <i class="fas fa-exchange-alt"></i> \
                        </span>'
              )
            }
          }],
          "searching": false
        });
        dt.draw('full-reset')
        data.forEach(element => {

          dt.row.add([
            element.rfid,
            (element.name == 'None' ? '-' : element.name),
            (element.enabled ? "Ja" : "Nee"),
            ( (typeof element.valid_from === 'string' || element.valid_from instanceof String) ?
              element.valid_from :
              '-'
            ),
            ( (typeof element.valid_until === 'string' || element.valid_until instanceof String) ?
              element.valid_until :
              '-'
            ),
            ( (typeof element.last_used_at === 'string' || element.last_used_at instanceof String) ?
              element.last_used_at :
              '-'
            ),
            ((element.vehicle_make == undefined || element.vehicle_make == 'None') ? '-' : element.vehicle_make),
            ((element.vehicle_model == undefined || element.vehicle_model == 'None') ? '-' : element.vehicle_model),
            ((element.license_plate == undefined || element.license_plate == 'None') ? '-' : element.license_plate),
            (element.get_odometer == true ? 'Ja' : 'Nee'),
            (element.api_access_token + '|' + element.api_created_at + '|' + element.api_expires_in),
            '<button id="edit_' + element.rfid + '">Edit</button>',
            '<button >Delete</button>'
          ]).draw( false )
          $('button#edit_' + element.rfid).click(function() {
            //Do stuff when clicked
            window.location = '/rfid_tokens/' + $(this).attr('id').split("_").pop();
          })
        })
        $('[data-toggle=tooltip]').tooltip({ boundary: 'window' })
      })
      .fail(function() {
  //      $.Notification.notify('error','top left', 'Connection error', 'Could not process logout! Please close your browser to complete logout.');
      })
      .always(function() {
        // Check every 60 seconds
      })
    }



    var dialog;
    jQuery(document).ready(function () {
      console.log(timestamp() + " file load completed!")


      getRfidTokens()

    })




    </script>

{% endblock %}
{% block content %}


<div class="wrapper" id="{{ var1 }}">
  <div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Auto OAuth token</h4>
            </div>
        </div>
    </div>
    <!-- end page title end breadcrumb -->


    <div class="row">
      <div class="col-12">
        <div class="card-box table-responsive">
          <table id="usage" class="table table-bordered" cellpadding="0" cellspacing="0" style="font-size: 10px;">
            <thead style="background-color: #3bafda; color: white; border-color: #3bafda;">
              <tr>
                <th style="text-align: center;">Pasnummer</th>
                <th style="text-align: center;">Naam</th>
                <th style="text-align: center;">Actief</th>
                <th style="text-align: center;">Geldig van</th>
                <th style="text-align: center;">Geldig tot</th>
                <th style="text-align: center;">Laatst gebruikt</th>
                <th style="text-align: center;">Merk</th>
                <th style="text-align: center;">Model</th>
                <th style="text-align: center;">Kenteken</th>
                <th style="text-align: center;">Update km stand</th>
                <th style="text-align: center;">Token</th>
                <th style="text-align: center;"></th>
                <th style="text-align: center;"></th>
              </tr>
            </thead style="background-color: #3bafda; color: white; font-size: 14pt; font-weight: bold; border-color: #3bafda;">
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div> <!-- end row -->

  </div>
</div>
{% endblock %}
