{% extends "template.html" %}
{% block title %}Verbruik{% endblock %}
{% block jquery %} 
  {% include 'includes/include.jquery-3.3.1.html' %}
{% endblock %} 
{% block head %}
  {{ super() }}

  <!-- Required Flot prereq -->
  <script src="{{ url_for('static', filename='js/jquery.event.drag-1.6.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.mousewheel-3.0.6.js') }}"></script>

  <!-- Required Flot -->
  <script src="{{ url_for('static', filename='plugins/flot-charts/jquery.canvaswrapper.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/flot-charts/jquery.colorhelpers.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/flot-charts/jquery.flot.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/flot-charts/jquery.flot.saturated.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/flot-charts/jquery.flot.browser.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/flot-charts/jquery.flot.drawSeries.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/flot-charts/jquery.flot.uiConstants.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/flot-charts/jquery.flot.axislabels.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/flot-charts/jquery.flot.time.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/flot-charts/jquery.flot.resize.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/flot-charts/jquery.flot.selection.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/flot-charts/jquery.flot.stack.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/flot-charts/jquery.flot.crosshair.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/flot-charts/jquery.flot.navigate.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/flot-charts/jquery.flot.touchNavigate.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/flot-charts/jquery.flot.hover.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/flot-charts/jquery.flot.legend.js') }}"></script>

    <!-- Socket IO -->
    <script src="{{ url_for('static', filename='plugins/socket.io/2.3.0/socket.io.js') }}"></script>

  <style>
  #tooltip {
    position: absolute;
    display: none;
    border: 1px solid #fdd;
    padding: 2px;
    background-color: #fee;
    opacity: 0.80;
  }
  g.flot-x1-axis text {
    fill: #98a6ad;  /* text color */
  }
  g.flot-y1-axis text, .y1LabelLayer text {
    fill: #00b19d;  /* text color */
  }
  g.flot-y2-axis text, .y2LabelLayer text {
    fill: #ffaa00;  /* text color */
  }
  div.legend svg.legendLayer {
    fill: rgba(76, 83, 87, 0.4);/*
    fill-opacity: '0.4';*/
    border: 1px solid #98a6ad;
    background: rgba(76, 83, 87, 0.6);
  }
  div.legend svg.legendLayer g:nth-of-type(1) text tspan {
    fill: #00b19d;
    font-size: smaller;
  }
  div.legend svg.legendLayer g:nth-of-type(2) text tspan {
    fill: #ffaa00;
    font-size: smaller;
  }
  </style>
  <script>
    var flotObj = null
    function timestamp() {
      d = new Date();
      return (d.getFullYear() + "-" + 
             (d.getMonth()<10?'0':'') + (d.getMonth()+1) + "-" + 
             (d.getDate()<10?'0':'') + d.getDate() + '.' + 
             (d.getHours()<10?'0':'') + d.getHours() + ":" + 
             (d.getMinutes()<10?'0':'') + d.getMinutes() + "." + 
             (d.getSeconds()<10?'0':'') + d.getSeconds() + '.' + 
             (d.getMilliseconds()<100?'0':'') + (d.getMilliseconds()<10?'0':'') + d.getMilliseconds()
      )
    }
    // parses date string in the format dd/mm/yyyy, hh:mm:ss    01/04/2020, 13:58:44
    function parseDate(dateStr) {
      var p1 = dateStr.split(',')
      var date = p1[0].split('/')
      var time = p1[1].trim().split(':')
      var dObj = new Date()
      dObj.setDate(date[0]) 
      dObj.setMonth(parseInt(date[1]) -1) 
      dObj.setFullYear(date[2]) 
      dObj.setHours(time[0]) 
      dObj.setMinutes(time[1]) 
      dObj.setSeconds(time[2]) 
      return dObj
    }

    function getUsageData( from_timestamp, n = undefined ) {
      console.log(timestamp() + ' getUsageData()')
      $.ajax({
        type		: 'GET',
        url			: ('/usage_data_since/' + encodeURI(from_timestamp) + (Number.isInteger(n) ? '/' + n : '')),
        dataType	: 'json',
            encode		: true
      }) // using the done promise callback
      .done(function(data) {
        // log data to the console so we can see
        console.log(data)

        var flotDataset = [ 
          { label: 'Stroom [A]', data: [], color: "#00b19d", yaxis: 1, lines: { show: true, fill: true } },
          { label: 'Energie [kWh]', data: [], color: "#ffaa00", yaxis: 2 } 
        ]
        var flotData_A = []
        var flotData_kWh = []

        var axis = { 
          'x': {
            'min': 0,
            'max': 0
          },
          'y1': {
            'min': 0,
            'max': 0
          },
          'y2': {
            'min': 0,
            'max': 0
          }
        }
        
        data.forEach(element => {
          // created_at format 01/04/2020, 13:58:44
          var ts = Math.round(parseDate(element.created_at).getTime() /1000)
          var a = Math.round( (
                    parseFloat(element.a_l1) +
                    parseFloat(element.a_l1) +
                    parseFloat(element.a_l1)
                  ) * 10 ) / 10
          flotData_A.push( [ ts, a ] )
          flotData_kWh.push( [ ts, element.kw_total ] )
          axis.x.min = (axis.x.min == 0 ? ts : Math.min(ts, axis.x.min))
          axis.x.max = Math.max(ts, axis.x.max)
          axis.y1.min = Math.min(a, axis.y1.min)
          axis.y1.max = Math.max(a, axis.y1.max)
          axis.y2.min = Math.min(element.kw_total, axis.y2.min)
          axis.y2.max = Math.max(element.kw_total, axis.y2.max)
        })

        flotDataset[0].data = flotData_A
        flotDataset[1].data = flotData_kWh

        // Blue:    "3bafda"
        // Orange:  "#ffaa00"
        // Green:   "#00b19d"
        flotObj = $.plot($("#stecapg_1_flotgraph"), flotDataset, {
          xaxis: { 
            timezone: 'browser',
{% if req_period is not none %}
  {% if req_period | int < 24 %}
            tickSize: [ 1, 'hour' ],
            timeformat: '%H:%M', // %H:%M",
  {% elif req_period | int < 48 %}
            tickSize: [ 2, 'hour' ],
            timeformat: '%H:%M', // %H:%M",
  {% elif req_period | int < 200 %}
            tickSize: [ 6, 'hour' ],
            timeformat: '%e %b %H:%M', // %H:%M",
  {% elif req_period | int < 500 %}
            tickSize: [ 1, 'day' ],
            timeformat: '%e %b', // %H:%M",
  {% else %}
            tickSize: [ 7, 'day' ],
            timeformat: '%e %b', // %H:%M",
  {% endif %}
{% else %}
            tickSize: [ 1, 'day' ],
            timeformat: '%e %b', // %H:%M",
{% endif %}
            color: "#98a6ad", // Color of the horizontal line (not the numbers)
            font: { 
              size: 11,
              lineHeight: 11
            },
            mode: "time",
            min: axis.x.min,
            max: axis.x.max,
            zoomRange: [7200000, null],
            panRange: [axis.x.min*0.9, axis.x.max*1.1]
          },
          yaxes: [{   // Amps 0-25
            min: 0, 
            max: 25,
            color: "#00b19d", // Color of the vertical line (not the numbers) "#00b19d"
            // axisLabel: "Stroom [A]",
            axisLabelUseCanvas: true,
            axisLabelColor: '#FF0000',
            tickFormatter: function (val, axis) {
              return Math.round(val) + ' (' + Math.round((parseFloat(val)*230) / factor_Whkm) + 'km/u)'
            },
            font: { 
              size: 11,
              lineHeight: 11,
              color: "#00b19d" //"#00b19d"
            },
            position: 'right'
          }, {      // Energie 0-300
            min: 0, 
            max: 25,
            color: "#ffaa00", // Color of the vertical line (not the numbers) "#00b19d"
            // axisLabel: "Energie [kWh]",
            font: { 
              size: 11,
              lineHeight: 11,
              color: "#ffaa00" //"#00b19d"
            },
            position: 'left'
            }
          ],
          grid : {
            show : true,
            aboveData : false,
            color : '#98a6ad', 
            borderColor : '#98a6ad', 
            labelMargin : 15,
            axisMargin : 0,
            borderWidth : 0,
            minBorderMargin : 5,
            hoverable: true,
            clickable: true
          },
          zoom: {
            interactive: true
          },
          pan: {
            interactive: true,
            enableTouch: true
          },
          legend: {
            position: 'nw',
            show: true,
            backgroundOpacity: 0.9,
            noColumns: 1
          }
        })

        var axes = flotObj.getAxes()
        axes.xaxis.options.min = axis.x.min 
        axes.xaxis.options.max = axis.x.max
        axes.yaxis.options.min = axis.y1.min
        axes.yaxis.options.max = axis.y1.max 
        axes.y2axis.options.min = axis.y2.min 
        axes.y2axis.options.max = axis.y2.max
        flotObj.setupGrid()             // if axis have changed
        flotObj.draw()

        $("#stecapg_1_flotgraph").bind("plothover", function (event, pos, item) {
          if (!pos.x || !pos.y) {
            return;
          }

          if (item) {
            var x = item.datapoint[0].toFixed(2),
              y = item.datapoint[1].toFixed(2);

              
            var d = new Date(parseInt(item.datapoint[0]) *1000);
            var monthNames = [
              "January", "February", "March",
              "April", "May", "June", "July",
              "August", "September", "October",
              "November", "December"
            ]
            var ttStr = '<span style="color: ' + item.series.color + ' !important; font-size: smaller;">' +
                '<i class="fas fa-charging-station"></i> ' + 
                item.datapoint[1] + 
                (item.series.label.endsWith('[A]') ? 'A (' + Math.round((parseFloat(item.datapoint[1])*230) / factor_Whkm) + 'km/u)' : 
                  (item.series.label.endsWith('[kWh]') ? 'kWh (' + Math.round((parseFloat(item.datapoint[1])*1000) / factor_Whkm).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + 'km)' : '')
                ) +
                '</span><br>' + 
                '<span style="color: #98a6ad !important; font-size: smaller;">' + 
                '<i class="fa fa-calendar"></i> ' + 
                d.getDate() + " " + 
                monthNames[d.getMonth()] + 
                " " + d.getFullYear() + 
                " " + (d.getHours() < 10 ? "0" : "" ) + d.getHours() +
                ":" + (d.getMinutes() < 10 ? "0" : "" ) + d.getMinutes() +
                'u</span>'

            $("#tooltip").html( ttStr )
              .css({top: item.pageY+5, left: item.pageX+5})
              .fadeIn(200);
          } else {
            $("#tooltip").hide();
          }
        })
        $("#stecapg_1_flotgraph").bind("plothovercleanup", function (event, pos, item) {
          $("#tooltip").hide();
        })

        $("#stecapg_1_flotgraph").bind("plotclick", function (event, pos, item) {
          if (item) {
            plot.highlight(item.series, item.datapoint);
          }
        })

        $('#stecapg_1_waiting').toggleClass( 'invisible', true );
      })
      .fail(function() {
      })
      .always(function() {
        // Remove spinner
        $('.spinner').hide()
      })
    }

    var socket = undefined
    function startWebSocket() {
      console.log(timestamp() + ' startWebSocket()')
      // start up the SocketIO connection to the server - the namespace 'test' is also included here if necessary
      socket = io.connect(window.location.protocol+'//'+window.location.hostname+':'+window.location.port+'/usage')
      // this is a callback that triggers when the "my response" event is emitted by the server.
      socket.on('status_update', function(msg) {
        console.log('Received: ' + JSON.stringify(msg.data))

        if ( flotObj == null || flotObj == undefined) {
          // No graph data loaded yet, ignore websocket for now
          console.log('Websocket data entry ['+msg.data.created_at+'] ignored, graph not loaded yet.')
          return
        }
        // Check if entry does not already exist. After a server restart the last entry is always re-sent. 
        var entryExists = false
        var allData = flotObj.getData() // array of series objects
        var ts = Math.round(parseDate(msg.data.created_at).getTime() /1000)
        $.each(allData[0].data, function( index, value ) {
          if (value[0] === ts) {
            console.log('Websocket data entry ['+msg.data.created_at+'] already in graph through initial pull request.')
            entryExists = true
            // currently no way to stop the every() loop... (return false does not work)
            return false
          }
        })
        if (entryExists) {
          return
        }

        // add data element
        var a = Math.round( (
                  parseFloat(msg.data.a_l1) +
                  parseFloat(msg.data.a_l1) +
                  parseFloat(msg.data.a_l1)
                ) * 10 ) / 10
        allData[0].data.push( [ ts, a ] )
        allData[1].data.push( [ ts, msg.data.kw_total ] )

        var axes = flotObj.getAxes()
        axes.xaxis.options.min = Math.min(ts, axes.xaxis.options.min) 
        axes.xaxis.options.max = Math.max(ts, axes.xaxis.options.max)
        axes.yaxis.options.min = Math.min(a, axes.yaxis.options.min)
        axes.yaxis.options.max = Math.max(a, axes.yaxis.options.max) 
        axes.y2axis.options.min = Math.min(msg.data.kw_total, axes.y2axis.options.min) 
        axes.y2axis.options.max = Math.max(msg.data.kw_total, axes.y2axis.options.max)
        flotObj.setupGrid()             // if axis have changed
        flotObj.draw()
        console.log('Websocket data entry ['+msg.data.created_at+'] added to the graph.')

      })
      $("#tr_41").toggleClass("testbg").fadeOut(400, function() {
        $(this).toggleClass("testbg").fadeIn(0)
      })
    }

    function formatDate(date) {
      // Month from zero based (JS) to 1 based (Python)
      return (date.getDate() < 10 ? '0' : '') + date.getDate() + '/' +
             ((date.getMonth()+1) < 10 ? '0' : '') + (date.getMonth()+1) + '/' +
             date.getFullYear() + ', ' + 
             (date.getHours() < 10 ? '0' : '') + date.getHours() + ':' +
             (date.getMinutes() < 10 ? '0' : '') + date.getMinutes() + ':' +
             (date.getSeconds() < 10 ? '0' : '') + date.getSeconds()
    }

    jQuery(document).ready(function () {
      console.log(timestamp() + " file load completed!")
      var from_timestamp = new Date()
{% if req_period is not none %}
      from_timestamp.setHours(from_timestamp.getHours()-{{ req_period }})
{% else %}
      from_timestamp.setHours(from_timestamp.getHours()-(7*24))
{% endif %}
{% if (cnt != None) and (cnt != 'undefined') %}
      getUsageData(
        formatDate(from_timestamp), 
        {{ cnt }}
      )
{% else %}
      getUsageData(
        formatDate(from_timestamp)
      )
{% endif %}
      startWebSocket()
    })


  </script>

{% endblock %}
{% block content %}

<div class="wrapper" id="{{ var1 }}">
  <div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group pull-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item"><a href="#">Verbruik</a></li>
                        <li class="breadcrumb-item active">Grafiek</li>
                    </ol>
                </div>
                <h4 class="page-title">Verbruik</h4>
            </div>
        </div>
    </div>
    <!-- end page title end breadcrumb -->


    <div class="row">

      <div id="stecapg_1" class="col-lg-12">
        <div class="portlet"><!-- /primary heading -->
            <div id="portlet 1" class="panel-collapse collapse show">
                <div class="portlet-body">
                    <div id="stecapg_1_flotgraph" style="height: 320px;" class="flot-chart"></div>
                    <div id="stecapg_1_waiting" style="position: absolute; top: 50%; left: 50%; font-size: 30px;" class="flot-chart"> </div>
                </div>
            </div>
        </div>
    </div>




    </div> <!-- end row -->

  </div>
</div>
<div id='tooltip'></div>

{% endblock %}