{% extends "template.html" %}
{% block title %}Verbruik{% endblock %}
{% block jquery %} 
  {% include 'includes/include.jquery-3.3.1.html' %}
{% endblock %} 
{% block head %}
  {{ super() }}

  <!-- DataTables CSS -->
  <link href="{{ url_for('static', filename='plugins/datatables/1.10.20/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='plugins/datatables/buttons.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='plugins/buttons/1.6.1/buttons.dataTables.min.css') }}" rel="stylesheet" type="text/css" />

  <!-- Responsive datatable examples -->
  <link href="{{ url_for('static', filename='plugins/datatables/responsive.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
   
  <!-- Required datatable js -->
  <script src="{{ url_for('static', filename='plugins/datatables/1.10.20/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap4.min.js') }}"></script>
  <!-- Buttons -->
  <script src="{{ url_for('static', filename='plugins/buttons/1.6.1/dataTables.buttons.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/datatables/buttons.bootstrap4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/buttons/1.6.1/buttons.flash.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/jszip/3.1.3/jszip.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/pdfmake/0.1.53/pdfmake.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/pdfmake/0.1.53/vfs_fonts.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/buttons/1.6.1/buttons.html5.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/buttons/1.6.1/buttons.print.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/datatables/buttons.colVis.min.js') }}"></script>

  <!-- Responsive -->
  <script src="{{ url_for('static', filename='plugins/datatables/dataTables.responsive.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/datatables/responsive.bootstrap4.min.js') }}"></script>
  
  <!-- Socket IO -->
  <script src="{{ url_for('static', filename='plugins/socket.io/2.3.0/socket.io.js') }}"></script>

  <style>
    .paginate_button {
        padding: 0px !important;
    }
    tbody td {
      padding: 2px 2px !important;
      text-align: center;
      background-color: #36404a;
    }
    div .dataTables_info {
      color: #98a6ad !important;
      margin-left: 5px;
    }
    div .dt-buttons {
      margin-bottom: 10px;
      margin-left: 3px;
    }
    div .dataTables_length {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 100%;
    }
    div .dataTables_length label {
      font-size: smaller;
      margin-left: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 100%;
      color: #98a6ad !important;
    }
    div .dataTables_length label select {
      width: 80px;
      margin-left: 10px;
      margin-right: 10px;
    }
  </style>

  <script>
    function timestamp() {
      d = new Date();
      return (d.getFullYear() + "-" + 
             (d.getMonth()<10?'0':'') + (d.getMonth()+1) + "-" + 
             (d.getDate()<10?'0':'') + d.getDate() + '.' + 
             (d.getHours()<10?'0':'') + d.getHours() + ":" + 
             (d.getMinutes()<10?'0':'') + d.getMinutes() + "." + 
             (d.getSeconds()<10?'0':'') + d.getSeconds() + '.' + 
             (d.getMilliseconds()<100?'0':'') + (d.getMilliseconds()<10?'0':'') + d.getMilliseconds()
      )
    }
    var dt = undefined
    function getUsageData( n = undefined ) {
      console.log(timestamp() + ' getUsageData()')
    
//      $.Notification.autoHideNotify('warning', 'top left', 'Loggin out', 'Logging out from Splash!');
            
      $.ajax({
        type		  : 'GET',
        url			  : (Number.isInteger(n) ? '/usage_data/' + n : '/usage_data'),
        dataType	: 'json',
        headers   : { 'ignore-login-next': 'true' },
        encode		: true
      }) // using the done promise callback
      .done(function(data) {
        // log data to the console so we can see
        console.log(data)
  //        $.Notification.autoHideNotify('success', 'top left', 'Logged out', 'Logged out of Splash. Redirecting to login page.');

        dt = $('table#usage').DataTable( {
          "pageLength": 25,
          "order": [[ 0, "desc" ]],
          dom: 'Blfrtip',
          buttons: [
            {
              extend: 'copy',
              text: "<i class='far fa-copy'></i> Copy",
              className: 'btn btn-low-key btn-sm'
            }, {
              extend: 'csv',
              text: "<i class='fas fa-file-csv'></i> CSV",
              className: 'btn btn-low-key btn-sm',
              exportOptions: {
                      orthogonal: {
                          display: 'Plain'
                      }      
              }
            }, {
              extend: 'excel',
              text: "<i class='far fa-file-excel'></i> Excel",
              className: 'btn btn-low-key btn-sm',
              bFooter: false,
              exportOptions: {
                      orthogonal: { 
                          display: 'Plain'
                      },
                      columns: ':visible',
                      format: {
                          body: function(data, row, column, node) {
                              data = $('<p>' + data + '</p>').text();
                              return $.isNumeric(data.replace(',', '.')) ? data.replace(',', '.') : data;
                          }
                      }
              }
            }, {
                extend: 'pdfHtml5',
                text: "<i class='far fa-file-pdf'></i> PDF",
                className: 'btn btn-low-key btn-sm',
                orientation: 'landscape',
                pageSize: 'A4'
            }, {
              extend: 'print',
              text: "<i class='fas fa-print'></i> Print",
              className: 'btn btn-low-key btn-sm'
            }
          ],
          "createdRow": function(row, data, dataIndex) {
            $(row).toggleClass("text-info").fadeOut(800, function() {              
              $(this).toggleClass("text-info").fadeIn(50)
            })
          },
          "searching": false,
          "columnDefs": [{
            // This is for the timestamp column
            "targets": [0],
            "sorting": true,
            "orderable": true,
            "render": function (data, type, row) {
              // Render for screen: type = 'display'
              // Render for Excel export: type = { display: 'Plain'}
              if (type.hasOwnProperty('display') && (type.display == 'Plain')) {
                // Excel export, only date
                if (data == undefined || data === "None" || typeof data != "string" || (data.trim()).length != 20) {
                  return ""
                }
                d = parseDate(data)
                // 19-02-2020  18:20:02
                return (d.getDate() < 10 ? '0' : '') + d.getDate() + '-' +
                       (d.getMonth() < 9 ? '0' : '') + (d.getMonth() +1) + '-' +
                        d.getFullYear() + '  ' +
                       (d.getHours() < 10 ? '0' : '') + d.getHours() + ':' +
                       (d.getMinutes() < 10 ? '0' : '') + d.getMinutes() + ':' +
                       (d.getSeconds() < 10 ? '0' : '') + d.getSeconds()
              }
              if ( type === "sort" || type === 'type' ) {
                // return plan data for sorting
                return data;
              }
              // Default - type = 'display' - on screen or other exports
              if (data == undefined || data === "None") {
                return ""
              }
              if (typeof data != "string" || (data.trim()).length != 20) {
                return data
              }
              d = parseDate(data)
              // 19-02-2020  18:20:02
              return (weekday[d.getDay() %6]).substring(0, 2) + ' ' + 
                      d.getDate() + ' ' + (months[d.getMonth() %11]).substring(0, 3) + ' ' + d.getFullYear() + ' ' +
                      d.getHours() + ':' +
                      (d.getMinutes() < 10 ? '0' : '') + d.getMinutes() + ':' +
                      (d.getSeconds() < 10 ? '0' : '') + d.getSeconds()
            }
          }, {
            "targets": [1, 2, 3, 4],
            "sorting": false,
            "orderable": false,
            "render": function (data, type, row) {
              // Render for screen: type = 'display'
              // Render for Excel export: type = { display: 'Plain'}
              if (type.hasOwnProperty('display') && (type.display == 'Plain')) {
                // Excel export, skip the 'kWh' and change . with ,
                if (data == undefined || data === "None") {
                  return ""
                }
                return (Math.round(data * 10) /10)
              }
              if ( type === "sort" || type === 'type' ) {
                // return plan data for sorting
                return data;
              }
              // Default - type = 'display' - on screen or other exports
              return data == undefined || data === "None" ? 
                      "-" : 
                      '<span style="text-align: right;">' + (Math.round(data * 10) /10).toFixed(1) + 'kWh</span>'
            }
          }, {
            "targets": [5, 6, 7],
            "sorting": false,
            "orderable": false,
            "render": function (data, type, row) {
              // Render for screen: type = 'display'
              // Render for Excel export: type = { display: 'Plain'}
              if (type.hasOwnProperty('display') && (type.display == 'Plain')) {
                // Excel export, skip the 'A' and change . with ,
                if (data == undefined || data === "None") {
                  return ""
                }
                return (Math.round(data * 10) /10)
              }
              if ( type === "sort" || type === 'type' ) {
                // return plan data for sorting
                return data;
              }
              // Default - type = 'display' - on screen or other exports
              return data == undefined || data === "None" ? 
                      "-" : 
                      '<span style="text-align: right;">' + (Math.round(data * 10) /10).toFixed(1) + 'A</span>'
            }
          }, {
            "targets": [8, 9, 10],
            "sorting": false,
            "orderable": false,
            "render": function (data, type, row) {
              // Render for screen: type = 'display'
              // Render for Excel export: type = { display: 'Plain'}
              if (type.hasOwnProperty('display') && (type.display == 'Plain')) {
                // Excel export, skip the 'W' and change . with ,
                if (data == undefined || data === "None") {
                  return ""
                }
                return (Math.round(data * 10) /10)
              }
              if ( type === "sort" || type === 'type' ) {
                // return plan data for sorting
                return data;
              }
              // Default - type = 'display' - on screen or other exports
              return data == undefined || data === "None" ? 
                      "-" : 
                      '<span style="text-align: right;">' + (Math.round(data * 10) /10).toFixed(1) + 'W</span>'
            }
          }, {
            "targets": [11, 12, 13],
            "sorting": false,
            "orderable": false,
            "render": function (data, type, row) {
              // Render for screen: type = 'display'
              // Render for Excel export: type = { display: 'Plain'}
              if (type.hasOwnProperty('display') && (type.display == 'Plain')) {
                // Excel export, skip the 'V' and change . with ,
                if (data == undefined || data === "None") {
                  return ""
                }
                return (Math.round(data * 10) /10)
              }
              if ( type === "sort" || type === 'type' ) {
                // return plan data for sorting
                return data;
              }
              // Default - type = 'display' - on screen or other exports
              return data == undefined || data === "None" ? 
                      "-" : 
                      '<span style="text-align: right;">' + (Math.round(data * 10) /10).toFixed(1) + 'V</span>'
            }
          }, {
            "targets": [14],
            "sorting": false,
            "orderable": false,
            "render": function (data, type, row) {
              // Render for screen: type = 'display'
              // Render for Excel export: type = { display: 'Plain'}
              if (type.hasOwnProperty('display') && (type.display == 'Plain')) {
                // Excel export, skip the 'Hz' and change . with ,
                if (data == undefined || data === "None") {
                  return ""
                }
                return ((Math.round(data * 10) /10).toFixed(1).replace('.', ','))
              }
              if ( type === "sort" || type === 'type' ) {
                // return plan data for sorting
                return data;
              }
              // Default - type = 'display' - on screen or other exports
              return data == undefined || data === "None" ? 
                      "-" : 
                      '<span style="text-align: right;">' + (Math.round(data * 10) /10).toFixed(1) + 'Hz</span>'
            }
          }]
        })
        dt.draw('full-reset')
        data.forEach(element => {

          $("span#energy_device_id").text("("+element.energy_device_id+")")
          dt.row.add([
            element.created_at,
            element.kw_total,
            element.kwh_l1,
            element.kwh_l2,
            element.kwh_l3,
            element.a_l1,
            element.a_l2,
            element.a_l3,
            element.p_l1,
            element.p_l2,
            element.p_l3,
            element.v_l1,
            element.v_l1,
            element.v_l3,
            element.hz
          ]).draw( false )
        })
      })
      .fail(function() {
  //      $.Notification.notify('error','top left', 'Connection error', 'Could not process logout! Please close your browser to complete logout.');
      })
      .always(function() {
        // Remove spinner
        $('.spinner').hide()
      })
    }
    var socket = undefined
    function startWebSocket() {
      console.log(timestamp() + ' startWebSocket()')
      // start up the SocketIO connection to the server - the namespace 'test' is also included here if necessary
      socket = io.connect(window.location.protocol+'//'+window.location.hostname+(window.location.port==''?'':':'+window.location.port)+'/usage')
      // this is a callback that triggers when the "my response" event is emitted by the server.
      socket.on('status_update', function(msg) {
        console.log('Received: ' + JSON.stringify(msg.data))

        // Check if entry does not already exist. After a server restart the last entry is always re-sent. 
        var entryExists = false
        dt.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
          var data = this.data()
          if (data[0] === msg.data.created_at) {
            console.log('Websocket data entry ['+msg.data.created_at+'] already in table through initial pull request.')
            entryExists = true
            // currently no way to stop the every() loop... (return false does not work)
            return false
          }
        })
        if (entryExists) {
          return
        }
        dt.row.add([
            msg.data.created_at,
            msg.data.kw_total,
            msg.data.kwh_l1,
            msg.data.kwh_l2,
            msg.data.kwh_l3,
            msg.data.a_l1,
            msg.data.a_l2,
            msg.data.a_l3,
            msg.data.p_l1,
            msg.data.p_l2,
            msg.data.p_l3,
            msg.data.v_l1,
            msg.data.v_l1,
            msg.data.v_l3,
            msg.data.hz
          ]).draw( false )
      })
      $("#tr_41").toggleClass("testbg").fadeOut(400, function() {
        $(this).toggleClass("testbg").fadeIn(0)
      })
    }
    //example of triggering an event on click of a form submit button
    function sendSocketMsg() {
        socket.emit('my event', {data: $('#emit_data').val()});
    }


    jQuery(document).ready(function () {
      console.log(timestamp() + " file load completed!")
      getUsageData({{ cnt }})
      startWebSocket()
    })

    </script>

{% endblock %}
{% block content %}

<div class="wrapper" id="{{ var1 }}">
  <div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group pull-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item"><a href="#">Verbruik</a></li>
                        <li class="breadcrumb-item active">Tabel</li>
                    </ol>
                </div>
                <h4 class="page-title">Verbruik {{ webappconfig.ENERGY_DEVICE_ID }}</h4>
            </div>
        </div>
    </div>
    <!-- end page title end breadcrumb -->


    <div class="row">
      <div class="col-12">
        <div class="card-box table-responsive">
          <table id="usage" class="table table-bordered" cellpadding="0" cellspacing="0" style="font-size: 10px;">
            <thead style="background-color: #3bafda; color: white; border-color: #3bafda;">
              <tr style="font-size: 14pt; font-weight: bold;">
                <th rowspan="2" style="font-size: 12pt; font-weight: bold;">Timestamp</th>
                <th colspan="4" style="text-align: center;">Energie (kWh)</th>
                <th colspan="3" style="text-align: center;">Amps</th>
                <th colspan="3" style="text-align: center;">Watts</th>
                <th colspan="3" style="text-align: center;">Volts</th>
                <th rowspan="2" style="text-align: center;">Hz</th>
              </tr>
              <tr>
                <th style="text-align: center;">Totaal</th style="text-align: center;">
                <th style="text-align: center;">L1</th style="text-align: center;">
                <th style="text-align: center;">L2</th style="text-align: center;">
                <th style="text-align: center;">L3</th style="text-align: center;">
                <th style="text-align: center;">L1</th style="text-align: center;">
                <th style="text-align: center;">L2</th style="text-align: center;">
                <th style="text-align: center;">L3</th style="text-align: center;">
                <th style="text-align: center;">L1</th style="text-align: center;">
                <th style="text-align: center;">L2</th style="text-align: center;">
                <th style="text-align: center;">L3</th style="text-align: center;">
                <th style="text-align: center;">L1</th style="text-align: center;">
                <th style="text-align: center;">L2</th style="text-align: center;">
                <th style="text-align: center;">L3</th style="text-align: center;">
              </tr>
            </thead style="background-color: #3bafda; color: white; font-size: 14pt; font-weight: bold; border-color: #3bafda;">
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div> <!-- end row -->

  </div>
</div>
{% endblock %}
