# .gitignore
__pycache__
venv
env
.env
.DS_Store
.pytest_cache
.coverage
src/.DS_Store
src/static/.DS_Store
src/nl/oppleo/.DS_Store
src/nl/oppleo/models/.DS_Store
src/nl/oppleo/views/.DS_Store
src/nl/oppleo/services/.DS_Store
src/nl/oppleo/utils/.DS_Store
src/nl/oppleo/api/.DS_Store
src/nl/oppleo/config/.DS_Store
src/nl/oppleo/daemon/.DS_Store
src/nl/oppleo/webapp/.DS_Store
# DON'T SEND THE INI FILE WITH PASSWORDS TO GITHUB !!!
src/nl/oppleo/config/carcharger.ini
src/nl/oppleo/config/oppleo.ini
src/nl/oppleo/config/oppleo.ini
src/nl/oppleo/config/oppleo.database.ini
# DON'T SEND THE CURL CMD FILE WITH UNIFI PASSWORDS TO GITHUB !!!
snapshot/grab_img.sh
# Don't store the service file, generate a new one at each platform
webapp/CarChargerWebApp.service
install/Oppleo.service
db/backup/*.*.dump
# install log files
install/log/update_*.log
backup/*.zip
db/liquibase.properties
src/nl/oppleo/webapp/static/images/users
src/nl/oppleo/webapp/static/images/avatars/*
src/nl/oppleo/webapp/static/images/vehicles/*
!src/nl/oppleo/webapp/static/images/avatars/unknown.png
Minton-v6.1
src/nl/oppleo/api/test/mycar.ini
