alembic==1.7.5
APScheduler==3.8.1
astroid==2.9.0
backports.entry-points-selectable==1.1.1
backports.zoneinfo==0.2.1
bcrypt==3.2.0
beautifulsoup4==4.10.0
bidict==0.21.4
blinker==1.4
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.9
click==8.0.3
cryptography==3.1.1
distlib==0.3.4
dnspython==2.1.0
docutils==0.18.1
eventlet==0.33.0
filelock==3.4.0
Flask==2.0.2
Flask-APScheduler==1.12.3
Flask-Bcrypt==0.7.1
Flask-Injector==0.13.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-Script==2.0.6
Flask-SocketIO==4.2.1
Flask-SQLAlchemy==2.5.1
Flask-User==1.0.2.2
Flask-WTF==1.0.0
greenlet==1.1.2
idna==3.3
importlib-metadata==4.10.0
importlib-resources==5.4.0
injector==0.19.0
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
lazy-object-proxy==1.7.1
lockfile==0.12.2
Mako==1.1.6
MarkupSafe==2.0.1
marshmallow==3.14.1
mccabe==0.6.1
minimalmodbus==2.0.1
monotonic==1.6
Naked==0.1.31
netifaces==0.11.0
passlib==1.7.4
pbr==5.8.0
pid==3.0.4
Pillow==8.4.0
platformdirs==2.4.0
protobuf==3.19.5
psutil==5.8.0
psycopg2==2.9.2
psycopg2-binary==2.9.2
py-cpuinfo==8.0.0
pyasn1==0.4.8
pycparser==2.21
pycryptodome==3.12.0
PyJWT==2.3.0
pylint==2.12.2
pyserial==3.5
pysmb==1.2.7
python-daemon==2.3.0
python-dateutil==2.8.2
python-editor==1.0.4
python-engineio==3.11.1
python-socketio==4.4.0
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
qrcode==7.3.1
requests==2.26.0
service==0.6.0
setproctitle==1.2.2
shellescape==3.8.1
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==1.4.28
stevedore==3.5.0
toml==0.10.2
typed-ast==1.5.1
typing==3.7.4.3
typing_extensions==4.0.1
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.7
virtualenv==20.10.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
Werkzeug==2.0.2
wrapt==1.13.3
WTForms==2.2.1
zipp==3.6.0
