<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% block head %}

        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %} - Carcharger 2020</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="{{ url_for('static', filename='images/carcharger32.ico') }}">
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

		<meta name="theme-color" content="#3BAFDA">

        <!-- App css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icons.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

        <!-- jQuery  -->
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script><!-- Popper for Bootstrap --><!-- Tether for Bootstrap -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/waves.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.slimscroll.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.nicescroll.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.scrollTo.min.js') }}"></script>

        <!-- Notification js -->
        <script src="{{ url_for('static', filename='plugins/notifyjs/dist/notify.min.js') }}"></script>
        <script src="{{ url_for('static', filename='plugins/notifications/notify-metro.js') }}"></script>

        <script src="{{ url_for('static', filename='js/jquery.core.js') }}"></script>

		<!-- Add webpage to the iOS Home screen. -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/splash.png') }}">
		<!-- iOS Launch Screen Image -->
		<link rel="apple-touch-startup-image" href="{{ url_for('static', filename='images/splash512.png') }}">
		<!-- Adding a Launch Icon Title -->
		<meta name="apple-mobile-web-app-title" content="Splash">
		<!-- Hide Safari User Interface Components -->
		<!-- Set the apple-mobile-web-app-capable meta tag to yes to turn on standalone mode. -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- You can determine whether a webpage is displaying in standalone mode using the window.navigator.standalone read-only Boolean JavaScript property. -->
		<!-- Changing the Status Bar Appearance -->
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="msapplication-starturl" content="/">

        <style>
        button {
            cursor: pointer;
        }
        </style>

        {% endblock %}
    
    </head>

    <body>


      <header id="topnav">

        <div class="topbar-main">
            <div class="container-fluid">

                <div class="logo">
                    <a href="{{ url_for('index') }}" class="logo">
                        <span class="logo-small"><img src="{{ url_for('static', filename='images/carcharger48.png') }}" style="background-color: white;"></span>
                        <span class="logo-large"><img src="{{ url_for('static', filename='images/carcharger48.png') }}" style="background-color: white;"> EV Laadpunt</span>
                    </a>
                </div>

                <div class="menu-extras topbar-custom">

                    <ul class="list-inline float-right mb-0">

                        <li class="menu-item list-inline-item">
                            <span class="navbar-toggle nav-link">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </span>
                        </li>
                    </ul>
                </div>

                <div class="clearfix"></div>

            </div>
        </div>

        <div class="navbar-custom">
            <div class="container-fluid">
                <div id="navigation">
                    <ul class="navigation-menu">
                        <li class="has-submenu">
                            <a href="{{ url_for('index') }}"><i class="mdi mdi-glassdoor"></i> Dashboard</a>
                        </li>

                        <li class="has-submenu">
                            <a href="{{ url_for('index') }}"><i class="mdi mdi-glassdoor"></i> Configuratie</a>
                            <ul class="submenu">
                                <li>
                                    <a href="{{ url_for('index') }}" class="stay">
                                        <i class="fa fa-file-o"></i> List Clients
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('index') }}" class="stay">
                                        <i class="fa fa-plus"></i> New Client
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="has-submenu">
                            <a href="{{ url_for('index') }}" class="stay">
                                <i class="mdi mdi-glassdoor"></i> Accounts
                            </a>
                        </li>

                        <li class="has-submenu">
                            <a href="{{ url_for('index') }}" class="stay">
                                <i class="mdi mdi-glassdoor"></i> Laadsessies
                            </a>
                        </li>

                        <li class="has-submenu">
                            <a href="{{ url_for('usage') }}"><i class="mdi mdi-glassdoor"></i> Verbruik</a>
                        </li>

                        <li class="has-submenu">
                            <a href="{{ url_for('logout') }}" class="stay">
                                <i class="mdi mdi-glassdoor"></i> Sign out
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div> 
        </div>
    </header>
    
    {% block content %}
    {% endblock %}
    
 </body>
</html>