Kladblok

$('#newSubnetOrIPButton').on('click', function(e) {
    e.preventDefault()
    console.log(this.id)
    // Clean data fields
    $('#newSubnetOrIPInput').val('')
    // Show input
    $('tr#newSubnetOrIPRow').removeClass('d-none')
    $('#newSubnetOrIPCancel').show()
    $('#newSubnetOrIPSave').show()
    $(this).hide()
  })





geen subnets

  Subnet:   [add button]

  Subnet:   [input]
                                    [annuleer button][opslaan]
  

wel subnets

  Subnet:   subnet1                 [delete]
            [add button]

  Subnet:   subnet1
            [input]
                                    [annuleer button][opslaan]
  
wel subnets

Subnet:     subnet1                 [delete]
            [add button]

Subnet:     [add button]


Dus
 title      subnet1 | [input] | [add button]        title als subnet = 1 || list empty, input als list empty, 
            subnet2 | [input] | [add button]        