{% extends "template.html" %}
{% block title %}Vehicle Token{% endblock %}
{% block jquery %} 
  {% include 'includes/include.jquery-3.3.1.html' %}
{% endblock %} 
{% block head %}
  {{ super() }}
  <meta name="csrf-token" content="{{ csrf_token() }}">

  <!-- Datepicker, Date range picker -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap-daterangepicker/daterangepicker.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/carcharger.css') }}">

  <!-- Moment, required for date range picker -->
  <script src="{{ url_for('static', filename='plugins/moment/moment.js') }}"></script>

  <!-- Bootstrap switch button in template -->

  <!-- Datepicker, Date range picker -->
  <script src="{{ url_for('static', filename='plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/bootstrap-datepicker/datepicker-nl.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>

  <!-- Socket IO -->
  <script src="{{ url_for('static', filename='plugins/socket.io/2.3.0/socket.io.js') }}"></script>

  <script>
    var tokenPresent = {% if rfid_model["api_access_token"] is not none %}true{% else %}false{% endif %}
    function timestamp() {
      d = new Date();
      return (d.getFullYear() + "-" + 
             (d.getMonth()<10?'0':'') + (d.getMonth()+1) + "-" + 
             (d.getDate()<10?'0':'') + d.getDate() + '.' + 
             (d.getHours()<10?'0':'') + d.getHours() + ":" + 
             (d.getMinutes()<10?'0':'') + d.getMinutes() + "." + 
             (d.getSeconds()<10?'0':'') + d.getSeconds() + '.' + 
             (d.getMilliseconds()<100?'0':'') + (d.getMilliseconds()<10?'0':'') + d.getMilliseconds()
      )
    }
    const GENERATE = 1
    const REFRESH = 2
    const REVOKE = 3
    var vehicleList = []
    function getRefreshOrRevokeOAuthToken(cnf = GENERATE) {
      console.log(timestamp() + ' getRefreshOrRevokeOAuthToken('+cnf+')')
      // Start spinner
      $('.spinner').show()
      var url
      var data
      switch(cnf) {
        case GENERATE:
          url = '/rfid_tokens/{{ rfid_model["rfid"] }}/TeslaAPI/GenerateOAuth/'
          data = {
            csrf_token    : '{{ csrf_token() }}',
            oauth_email   : $('input#oauth_email').val(), 
            oauth_password: $('input#oauth_password').val() 
          }
          break
        case REFRESH:
          url = '/rfid_tokens/{{ rfid_model["rfid"] }}/TeslaAPI/RefreshOAuth/'
          data = {
            csrf_token    : '{{ csrf_token() }}' 
          }
          break
        case REVOKE:
          url = '/rfid_tokens/{{ rfid_model["rfid"] }}/TeslaAPI/RevokeOAuth/'
          data = {
            csrf_token    : '{{ csrf_token() }}' 
          }
          break
      }
      $.ajax({
        type		    : 'POST',
        url			    : url,
        dataType	  : 'json',
        encode		  : true,
        headers     : { 'ignore-login-next': 'true' },
        data        : data
/*        data      : {
          csrf_token    : '{{ csrf_token() }}',
          oauth_email   : $('input#oauth_email').val(), 
          oauth_password: $('input#oauth_password').val() 
        }
*/
      }) // using the done promise callback
      .done(function(res) {
        // log data to the console so we can see
        console.log(res)
        switch(res.status) {
          case 200: // Ok
            autoHideNotify('success', 'top-left', 'OAuth Token', 'OAuth Token wijziging succesvol uitgevoerd.')
            // Example: OAuth token verloopt 20 February 2020, 16:55u
            updateOAuthTokenStatus(new Date((res.created_at *1000) + (res.expires_in *1000))) // Seconds to milliseconds
            // Add vehicle list
            $('select#vehicle').find('option').remove().end()
            var selectedVehicleName = $('input#vehicle_name').val()
            var selectedVehicleVin = $('input#vehicle_vin').val()
            var selectedVehicleInList = false
            var selectedVehicleIndexInList = -1
            vehicleList.length = 0
            $.each(res.vehicles, function( index, vehicle ) {
              $('select#vehicle').append(
                  '<option value="' + vehicle.id + '">' + 
                  vehicle.name + ' (VIN: ' + vehicle.vin + ')' +
                  '</option>'
                )
              vehicleList.push({
                'name': vehicle.name,
                'id': vehicle.id,
                'vin': vehicle.vin
              })
              selectedVehicleInList = selectedVehicleInList || ((vehicle.name == selectedVehicleName) && (vehicle.vin == selectedVehicleVin))
              selectedVehicleIndexInList = ((vehicle.name == selectedVehicleName) && (vehicle.vin == selectedVehicleVin)) ? index : selectedVehicleIndexInList
            })
            if (!selectedVehicleInList){
              // New values
              $('input#vehicle_name').val(vehicleList.length > 0 ? vehicleList[0].name : '')
              $('input#vehicle_id').val(vehicleList.length > 0 ? vehicleList[0].id : '')
              $('input#vehicle_vin').val(vehicleList.length > 0 ? vehicleList[0].vin : '')
            }
            tokenPresent = (vehicleList.length != 0)
            if (vehicleList.length == 0) {
              $('select#vehicle').append(
                  '<option value="None">Geen voertuigen...</option>'
                )
            }
            // Select the vehicle, or the first if any
            $('select#vehicle').prop("selectedIndex", 
              selectedVehicleIndexInList == -1 ? 0 : selectedVehicleIndexInList
            )
            showHideCredentials()
            setResetVehicleToken()
            break
          case 401:
            // Not Authorized - Tesla email/pw not correct
            autoHideNotify('warning', 'top-left', 'Autorisatie fout', 'Geen OAuth Token gegenereerd.')
            $('span#error-msg-title').html('Autorisatie fout.')
            $('h5#error-msg-sub').html('Tesla e-mail of wachtwoord niet correct.')
            $('tr#error-msg-row').show().delay(5000).queue(function(n) {
              $(this).fadeOut(); n();
            })
            break
          case 404:
            // RFID Token not found
            autoHideNotify('error', 'top-left', '404', 'RFID token onbekend.')
            $('span#error-msg-title').html('Fout...')
            $('h5#error-msg-sub').html('RFID token niet bekend.')
            $('tr#error-msg-row').show().delay(5000).queue(function(n) {
              $(this).fadeOut(); n();
            })
            break
          default:
            // ???
            autoHideNotify('error', 'top-left', 'Onbekende fout', 'Er is een onverwachte fout opgetreden.');
            $('span#error-msg-title').html('Fout [' + res.status + ']')
            $('h5#error-msg-sub').html('Onbekende fout opgetreden.')
            $('tr#error-msg-row').show().delay(5000).queue(function(n) {
              $(this).fadeOut(); n();
            })
        }
      })
      .fail(function(res) {
        console.log(res)
        $('h5#error-msg-sub').html('')
        switch(res.status) {
          case 400:
            autoHideNotify('error', 'top-left', 'CSRF token ongeldig', 'CSRF token verlopen. Herlaad deze pagina en probeer het opnieuw.');
            if (res.responseText.toLowerCase().includes('the csrf token is invalid')) {
              $('span#error-msg-title').html('Het CSRF Token is niet geldig.')
              $('h5#error-msg-sub').html('Ververs de pagina en probeer opnieuw.')
            } else {
              $('span#error-msg-title').html('400 - BAD REQUEST')
            }
            break
          case 500:
            autoHideNotify('error', 'top-left', '500', 'Internal Server Error');
            $('span#error-msg-title').html('Internal Server Error [500]')
            break
          default:
            $('span#error-msg-title').html('Failed. HTTP code [' + res.status + ']')
            break
        }
        $('tr#error-msg-row').show().delay(5000).queue(function(n) {
          $(this).fadeOut(); n();
        })
        /* HTTP STATUS 400 - BAD REQUEST due to CSRF token failure, responseText:
          <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">↵
            <title>400 Bad Request</title>↵
            <h1>Bad Request</h1>↵
            <p>The CSRF token is invalid.</p>↵
        */
      })
      .always(function() {
        // Remove spinner
        $('.spinner').hide()
      })
    }

    function showHideCredentials() {
      if ($('input[name="get_odometer"]').prop('checked') &&
          !tokenPresent) {
        if (showHideCredentials.hiddenOAuthEmail != undefined) {
          $('input#oauth_email').val(showHideCredentials.hiddenOAuthEmail)
        }
        $('tr#oauth_email_row').show()
        if (showHideCredentials.hiddenOAuthPassword != undefined) {
          $('input#oauth_password').val(showHideCredentials.hiddenOAuthPassword)
        }
        $('tr#oauth_password_row').show()
        $('tr#token_button_row').fadeIn(600)
      } else {
        // Clean them when hidden to prevent validation errors
        showHideCredentials.hiddenOAuthEmail = $('input#oauth_email').val()
        $('input#oauth_email').val("")
        $('tr#oauth_email_row').hide()
        showHideCredentials.hiddenOAuthPassword = $('input#oauth_password').val()
        $('input#oauth_password').val("")
        $('tr#oauth_password_row').hide()
        $('tr#token_button_row').hide()        
      }
    }

    function setResetGetOdometer() {
      if ($('input[name="vehicle_make"]').val().toLowerCase() == "tesla") {
        $('input[name=get_odometer]').prop('disabled', false)
        $('input[name=get_odometer]').attr('data-onstyle', "text-primary")
        $('span#odo_1').hide(100)
        $('span#odo_2').hide(50)
      } else {
        $('input#get_odometer').bootstrapToggle('off')
        $('input#get_odometer').prop('checked', false).change()
        $('input[name=get_odometer]').prop('disabled', true)
        $('input[name=get_odometer]').attr('data-onstyle', "text-secondary")
        $('span#odo_1').show(100)
        $('span#odo_2').show(50)
      }
    }

    // TODO: hide when there is a valid token
    function setResetVehicleToken() {
      if ($('input#get_odometer').prop('checked')) {
        // Show, only if a token exists
        if (tokenPresent) {
          $('tr#vehicles_row').show()
          $('tr#oauth_token_row').show()
        } else {
          // No active token, get one first
          $('tr#vehicles_row').hide()
          $('tr#oauth_token_row').hide()
        }
      } else {
        // Hide when get odo disabled anyway
        $('tr#vehicles_row').hide()
        $('tr#oauth_token_row').hide()
      }

    }

    function updateOAuthTokenStatus(d) {
      // d is expiration date
      $('input#oauth_token_status').attr('placeholder', 'Tesla autorisatie verloopt ' + 
        d.getDate() + ' ' + 
        months[d.getMonth()] + ' ' + 
        d.getFullYear() + ', ' +
        d.getHours() + ':' + (d.getMinutes() < 10 ? '0' : '') + d.getMinutes() + 'u'
      )
    }

    jQuery(document).ready(function () {
      console.log(timestamp() + " file load completed!")
      $('tr#error-msg-row').hide()
      // Change English valid_from and valid_untill months to Dutch
      valid_from = $('input[name="valid_from"]').val()
      Object.entries(months_en).forEach(entry => {
        const [key, value] = entry
        valid_from = valid_from.replace(value, months[key])
      })
      $('input[name="valid_from"]').val(valid_from)
      // Change Dutch months in valid_until into English values for interpretation
      valid_until = $('input[name="valid_until"]').val()
      Object.entries(months_en).forEach(entry => {
        const [key, value] = entry
        valid_until = valid_until.replace(value, months[key])
      })
      $('input[name="valid_until"]').val(valid_until)

      $('#valid-range').datepicker({
          todayHighlight: true,
          autoclose: true,
          startDate : undefined,
          endDate   : undefined,
          format: "d MM yyyy",    // 7 January 2020
          language: 'nl'
      })
      $("button[id^=show_]").click(function() {
          id = $(this).attr('id').split("show_").pop()
          $('input[id='+id).attr(
              'type', 
              ( $('input[id='+id).attr('type') === "password" ? 'text' : 'password')
          )
          $(this).find('i').toggleClass('fa-eye')     // far fa-eye
          $(this).find('i').toggleClass('fa-eye-slash') // far fa-eye-slash
      })
      $('[data-toggle=tooltip]').tooltip({ 
        boundary: 'window', 
        trigger : 'hover'   // Allow button clicks
      })
      $('button[data-toggle="tooltip"]').on('click', function () {
        $(this).tooltip('hide')
      })
      $('input#get_odometer').bootstrapToggle()
      $('input#enabled').bootstrapToggle()
      $('input#enabled').change(function() {
        // Nothing. Changes are submitted as whole form
      })
      $('input[name="vehicle_make"]').on("change paste keyup", function() {
        setResetGetOdometer()
      })
      $('input[name="get_odometer"]').on("change paste keyup", function() {
        showHideCredentials()
        setResetVehicleToken()
      })
      $('button#generate_token').on('click', function() {
        getRefreshOrRevokeOAuthToken(GENERATE)
      })
      $('button#refresh_token').on('click', function() {
        getRefreshOrRevokeOAuthToken(REFRESH)
      })
      $('button#revoke_token').on('click', function() {
        getRefreshOrRevokeOAuthToken(REVOKE)
      })
      $('select#vehicle').on('change', function() {
        $('input#vehicle_name').val()
        $('input#vehicle_id').val()
        $('input#vehicle_vin').val()
        $.each( vehicleList, function( index, vehicleInList ) {
          if ($(this).val() == 
              (vehicleInList.name + ' (VIN: ' + vehicleInList.vin + ')')) {
            $('input#vehicle_name').val(vehicleInList.name)
            $('input#vehicle_id').val(vehicleInList.id)
            $('input#vehicle_vin').val(vehicleInList.vin)
          }
        })
      })
      // Change date language just before submitting it 
      $( "form#rfid-change-form" ).submit(function( event ) {
        // Change Dutch months in valid_from into English values for interpretation
        valid_from = $('input[name="valid_from"]').val()
        Object.entries(months).forEach(entry => {
          const [key, value] = entry
          valid_from = valid_from.replace(value, months_en[key])
        })
        $('input[name="valid_from"]').val(valid_from)

        // Change Dutch months in valid_until into English values for interpretation
        valid_until = $('input[name="valid_until"]').val()
        Object.entries(months).forEach(entry => {
          const [key, value] = entry
          valid_until = valid_until.replace(value, months_en[key])
        })
        $('input[name="valid_until"]').val(valid_until)

        // Make sure no hidden fields are filled 
        showHideCredentials()

      })

      showHideCredentials()
      setResetGetOdometer()
      setResetVehicleToken()
      {% if rfid_model['api_created_at'] is not none and rfid_model['api_expires_in'] is not none %}
      updateOAuthTokenStatus(new Date(({{ rfid_model['api_created_at'] }} *1000) + ({{ rfid_model['api_expires_in'] }} *1000))) // Seconds to milliseconds
      {% endif %}

      $('.spinner').hide()
    })

    </script>

{% endblock %}
{% block content %}

<div class="wrapper">
  <div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Laadpas</h4>
            </div>
        </div>
    </div>
    <!-- end page title end breadcrumb -->

    <form id="rfid-change-form" class="form-horizontal m-t-20" method="POST" action="/rfid_tokens/{{ rfid_model['rfid'] }}/" autocomplete="on">
        {{ form.csrf_token }}

    <div class="row">
      <div class="col-12">
        <div class="card-box table-responsive">
          <table id="usage" class="table table-bordered" cellpadding="0" cellspacing="0" style="font-size: 10px;">

            {% if errorlist is defined %}
            <tr id="error-msg-row-x">
              <th colspan="2">
                <div class="text-center bg-danger text-white pt-2 pb-1" style="border-radius: 5px;">
                  {% for error_field in errorlist %}
                  {% for error_text in errorlist[error_field] %}
                    <span>
                      <h4 style="font-weight: bold;">
                        <i class="mdi mdi-alert-outline"></i>
                        <span id="error-msg-title">{{ error_text }} voor {{ error_field }}</span>
                      </h4>
                      <h5 id="error-msg-sub"></h5>
                    </span>
                  {%- endfor -%}
                  {%- endfor -%}
                </div>
              </th>
            </tr>
            {%- endif -%}


            <tr id="error-msg-row">
              <th colspan="2">
                <div class="text-center" style="color: white; background-color: #ef5350; border-radius: 5px;">
                    <span>
                      <h4 style="font-weight: bold;">
                        <i class="mdi mdi-alert-outline"></i>
                        <span id="error-msg-title"></span>
                      </h4>
                      <h5 id="error-msg-sub"></h5>
                    </span>
                </div>
              </th>
            </tr>
            <tr>
              <th><h5>Pasnummer</h5></th>
              <td class="text-primary" style="vertical-align: middle; text-align: left;"><h4 style="padding-left: 10px;">{{ rfid_model['rfid'] }}</h4></td>
            </tr>
            <tr>
              <th><h5>Naam</h5></th>
              <td>
                <input class="form-control" id="name" name="name" type="text" placeholder="Naam"
                       value="{% if rfid_model['name'] is not none %}{{ rfid_model['name'] }}{% endif %}">
              </td>
            </tr>
            <tr>
              <th><h5>Actief</h5></th>
              <td>
                <div class="input-group">
                  <span>
                    <input type="checkbox" 
                      {% if rfid_model['enabled'] %}checked{% endif %}
                      name="enabled"
                      id="enabled"
                      data-toggle="toggle"
                      data-on="<i class='far fa-thumbs-up'></i></i> JA"
                      data-off="<i class='far fa-thumbs-down'></i> NEE"
                      data-onstyle="primary"
                      data-offstyle="dark"
                      data-size="sm"
                      data-height="40"
                      data-width="100"
                    />
                  </span>
                </div>
              </td>
            </tr>
            <tr>
              <th><h5>Registratie</h5></th>
              <td>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-dark text-muted border-dark">
                      <i class="far fa-calendar-alt"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control border-dark" disabled placeholder="{% if rfid_model['created_at'] is not none %}{{ rfid_model['created_at'].strftime(' %d %B %Y').replace(' 0', ' ').strip() }}{% endif %}">
                  <span class="input-group-text bg-dark text-muted border-dark">
                    <i class="far fa-clock"></i>
                  </span>
                  <input type="text" class="form-control border-dark" disabled placeholder="{% if rfid_model['created_at'] is not none %}{{ rfid_model['created_at'].strftime(' %H:%Mu').replace(' 0', ' ').strip() }}{% endif %}">
                  <div class="input-group-append info-button-style"
                       data-toggle="tooltip" 
                       data-placement="bottom" 
                       data-html="true" 
                       title="Eerste registratie van dit pasnummer op dit laadpunt. Automatisch gegenereerd."
                    >
                    <span class="input-group-text bg-secondary text-muted border-secondary">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th><h5>Laatst aangeboden</h5></th>
              <td>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-dark text-muted border-dark">
                      <i class="far fa-calendar-alt"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control border-dark" disabled placeholder="{% if rfid_model['last_used_at'] is not none %}{{ rfid_model['last_used_at'].strftime(' %d %B %Y').replace(' 0', ' ').strip() }}{% endif %}">
                  <span class="input-group-text bg-dark text-muted border-dark">
                    <i class="far fa-clock"></i>
                  </span>
                  <input type="text" class="form-control border-dark" disabled placeholder="{% if rfid_model['last_used_at'] is not none %}{{ rfid_model['last_used_at'].strftime(' %H:%Mu').replace(' 0', ' ').strip() }}{% endif %}">
                  <div class="input-group-append info-button-style"
                       data-toggle="tooltip" 
                       data-placement="bottom" 
                       data-html="true" 
                       title="Laatste gebruik van dit pasnummer op dit laadpunt. Automatisch gegenereerd."
                    >
                    <span class="input-group-text bg-secondary text-muted border-secondary">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th><h5>Toegestaan</h5></th>
              <td>
                <div class="input-daterange input-group" id="valid-range">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-primary b-0 text-light border-primary">
                      Van
                    </span>
                  </div>
                  <input type="text" class="form-control" name="valid_from" 
                         value="{% if rfid_model['valid_from'] is not none %}{{ rfid_model['valid_from'].strftime(' %d %B %Y').replace(' 0', ' ').strip() }}{% endif %}"/>
                  <button class="input-group-append bg-dark pl-3 pr-3 btn btn-outline-secondary border-dark text-white"
                          onclick="$('input[name=valid_from]').val(''); return false;"
                          data-toggle="tooltip" 
                          data-placement="bottom" 
                          data-html="true" 
                          title="<em>Geen startdatum</em>"
                          >
                    <i class="far fa-trash-alt"></i>
                  </button>    
                  <div class="input-group-append">
                    <span class="input-group-text bg-primary b-0 text-light border-dark">
                        Tot
                    </span>
                  </div>
                  <input type="text" class="form-control" name="valid_until"
                         value="{% if rfid_model['valid_until'] is not none %}{{ rfid_model['valid_until'].strftime(' %d %B %Y').replace(' 0', ' ').strip() }}{% endif %}"/>
                  <div class="input-group-append">
                    <button class="input-group-append bg-dark pl-3 pr-3 btn btn-outline-secondary border-dark text-white"
                            onclick="$('input[name=valid_until]').val(''); return false;"
                            data-toggle="tooltip" 
                            data-placement="bottom" 
                            data-html="true" 
                            title="<em>Geen einddatum</em>"
                            >
                      <i class="far fa-trash-alt"></i>
                    </button>    
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th><h5>Merk</h5></th>
              <td>
                <input class="form-control" id="vehicle_make" name="vehicle_make" type="text" placeholder="Merk" list="car_makes"
                         value="{% if rfid_model['vehicle_make'] is not none %}{{ rfid_model['vehicle_make'] }}{% endif %}">
                <datalist id="car_makes">
                  <option>Audi</option>
                  <option>BMW</option>
                  <option>Mercedes</option>
                  <option>Peugeot</option>
                  <option>Tesla</option>
                </datalist>          
              </td>
            </tr>
            <tr>
              <th><h5>Model</h5></th>
              <td>
                <input class="form-control" id="vehicle_model" name="vehicle_model" type="text" placeholder="Model" list="car_models"
                         value="{% if rfid_model['vehicle_model'] is not none %}{{ rfid_model['vehicle_model'] }}{% endif %}">
                <datalist id="car_models">
                  <option>Model S</option>
                  <option>Model X</option>
                  <option>Model 3</option>
                  <option>i3</option>
                </datalist>          
              </td>
            </tr>
            <tr>
              <th><h5>Kenteken</h5></th>
              <td>
                <input class="form-control" id="license_plate" name="license_plate" type="text" placeholder="Kenteken" 
                       value="{% if rfid_model['license_plate'] is not none %}{{ rfid_model['license_plate'] }}{% endif %}">
              </td>
            </tr>
            <tr>
              <th><h5>Kilometerregistratie</h5></th>
              <td>
                <div class="input-group">
                  <span>
                    <input type="checkbox" 
                      {% if rfid_model['get_odometer'] == True %}checked{% endif %}
                      name="get_odometer"
                      id="get_odometer"
                      data-toggle="toggle"
                      data-on="<i class='fas fa-exchange-alt'></i> AAN"
                      data-off="<i class='fas fa-ban'></i> UIT"
                      data-onstyle="primary"
                      data-offstyle="dark"
                      data-size="sm"
                      data-height="40"
                      data-width="100"
                    />
                  </span>
                  <div class="input-group-append">
                    <span id="odo_1" class="input-group-text bg-dark b-0 pl-4 text-light border-primary">
                      <i class="mdi mdi-alert-outline"></i>
                    </span>
                    <span id="odo_2" class="input-group-text bg-dark b-0 pl-0 text-light border-primary">
                      Alleen beschikbaar voor Tesla
                    </span>
                  </div>
                </div>
              </td>
            </tr>
            <tr id="oauth_email_row">
              <th><h5>E-mail</h5></th>
              <td>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-secondary b-0 text-muted border-primary">
                      <i class="mdi mdi-account"></i>
                    </span>
                  </div>
                  <input class="form-control" id="oauth_email" name="oauth_email" type="text" autocomplete="off" placeholder="E-mail" value="">
                </div>
              </td>
            </tr>
            <tr id="oauth_password_row">
              <th><h5>Wachtwoord</h5></th>
              <td>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-secondary b-0 text-muted border-primary">
                      <i class="mdi mdi-radar"></i>
                    </span>
                  </div>
                  <input class="form-control" id="oauth_password" name="oauth_password" type="password" autocomplete="off" placeholder="Password" value="">

                  <span class="input-group-append">
                    <button 
                        id="show_oauth_password"
                        type="button" 
                        class="btn waves-effect waves-light btn-outline-primary" 
                        data-toggle="tooltip" 
                        data-placement="bottom" 
                        data-html="true" 
                        title="<em>Klik om de tekst zichtbaar te maken</em>"
                        >
                        <i class="far fa-eye"></i>
                    </button>
                  </span>
                </div>
              </td>
            </tr>
            <tr id="token_button_row">
              <td>
              </td>
              <td>
                <div class="text-center">
                  <div class="btn-group">
                    <button 
                          id="generate_token"
                          type="button" 
                          class="btn waves-effect waves-light btn-primary" 
                          data-toggle="tooltip" 
                          data-placement="bottom" 
                          data-html="true" 
                          title="<em>Genereer een Tesla toegangs-token</em>"
                          >
                          <i class="fas fa-user-cog"></i>
                          Genereer Tesla token
                      </button>
                  </div>
                </div>
              </td>
            </tr>
            <tr id="vehicles_row">
              <th><h5>Voertuig</h5></th>
              <td>
                <div class="input-group">
                  <input type="hidden" id="vehicle_name" name="vehicle_name" value="{% if rfid_model['vehicle_name'] is not none %}{{ rfid_model['vehicle_name'] }}{% endif %}" />
                  <input type="hidden" id="vehicle_id" name="vehicle_id" value="{% if rfid_model['vehicle_id'] is not none %}{{ rfid_model['vehicle_id'] }}{% endif %}" />
                  <input type="hidden" id="vehicle_vin" name="vehicle_vin" value="{% if rfid_model['vehicle_vin'] is not none %}{{ rfid_model['vehicle_vin'] }}{% endif %}" />
                  <select class="form-control" id="vehicle" name="vehicle">
                    <option value="-" style="font-style: italic;">{% if rfid_model['vehicle_name'] is not none and rfid_model['vehicle_vin'] is not none %}{{ rfid_model['vehicle_name'] }} (VIN: {{ rfid_model['vehicle_vin'] }}){% else %}Geen voertuigen...{% endif %}</option>
                  </select>
                  <span class="input-group-addon info-button-style"
                        data-toggle="tooltip" 
                        data-placement="bottom" 
                        data-html="true" 
                        title="Vernieuw de autorisatie of trek de autorisatie in en maak een nieuwe autorisatie aan om de actuele voertuiglijst op te halen."
                        >
                        <i class="fas fa-info-circle"></i>
                    </span>
                </div>
              </td>
            </tr>
            <tr id="oauth_token_row">
              <th><h5 style="background-color: #36404a !important;"><i class="fas fa-key"></i> OAuth token</h5></th>
              <td>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-dark b-0 text-secondary border-dark">
                      <i class="fas fa-key"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control border-dark" disabled id="oauth_token_status">
                  <div class="input-group-append info-button-style"
                       data-toggle="tooltip" 
                       data-placement="bottom" 
                       data-html="true" 
                       title="De autorisatie wordt bij gebruik automatisch verlengt. De autorisatie verloopt automatisch als de pas 45 dagen niet is gebruikt."
                    >
                    <span class="input-group-text bg-secondary text-muted border-secondary">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </div>
                  <div class="input-group-append">
                    <button class="input-group-append bg-dark pl-3 pr-3 btn btn-outline-secondary border-dark text-white"
                            id="revoke_token"
                            type="button" 
                            data-toggle="tooltip" 
                            data-placement="bottom" 
                            data-html="true" 
                            title="<em>Klik om de het autorisatie in te trekken</em>"
                            >
                      <i class="far fa-trash-alt"></i>
                    </button>                    
                    <button class="pl-3 pr-3 btn btn-primary text-white"
                            id="refresh_token"
                            type="button" 
                            data-toggle="tooltip" 
                            data-placement="bottom" 
                            data-html="true" 
                            title="<em>Klik om de het token te refreshen</em>"
                            >
                      <i class="fas fa-redo-alt"></i>
                    </button>                    
                  </div>
                </div>
              </td>
            </tr>
          </table>

          <div class="form-group text-right m-t-20">
            <div class="col-xs-12">
              <button class="btn btn-secondary btn-custom w-md waves-effect waves-light" type="button" onclick="window.location.href='/rfid_tokens/'">Annuleren</button>
              <button class="btn btn-primary btn-custom w-md waves-effect waves-light" type="submit">Wijzigen</button>
            </div>
          </div>

        </div>
      </div>
    </div> <!-- end row -->
    </form>

  </div>
</div>
{% endblock %}
