{% extends "template.html" %}
{% block title %}Laadpassen{% endblock %}
{% block jquery %} 
  {% include 'includes/include.jquery-3.3.1.html' %}
{% endblock %} 
{% block head %}
  {{ super() }}

  <!-- DataTables CSS -->
  <link href="{{ url_for('static', filename='plugins/datatables/1.10.20/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='plugins/datatables/buttons.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='plugins/buttons/1.6.1/buttons.dataTables.min.css') }}" rel="stylesheet" type="text/css" />

  <!-- Responsive datatable examples -->
  <link href="{{ url_for('static', filename='plugins/datatables/responsive.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/oppleo.css') }}">

  <!-- Required datatable js -->
  <script src="{{ url_for('static', filename='plugins/datatables/1.10.20/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap4.min.js') }}"></script>

  <!-- Buttons -->
  <script src="{{ url_for('static', filename='plugins/buttons/1.6.1/dataTables.buttons.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/datatables/buttons.bootstrap4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/buttons/1.6.1/buttons.flash.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/jszip/3.1.3/jszip.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/pdfmake/0.1.53/pdfmake.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/pdfmake/0.1.53/vfs_fonts.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/buttons/1.6.1/buttons.html5.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/buttons/1.6.1/buttons.print.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/datatables/buttons.colVis.min.js') }}"></script>

  <!-- Responsive -->
  <script src="{{ url_for('static', filename='plugins/datatables/dataTables.responsive.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/datatables/responsive.bootstrap4.min.js') }}"></script>

  <!-- Socket IO -->
  <script src="{{ url_for('static', filename='plugins/socket.io/2.3.1/socket.io.slim.js') }}"></script>

  <style>

  .notifyjs-metro-default {
    color: #ffffff !important;
    background-color: #3f51b5;
    border: 1px solid #3f51b5;
  }
  .notifyjs-metro-error {
    color: #ffffff !important;
    background-color: #ee6e73;
    border: 1px solid #ee6e73;
  }
  .notifyjs-metro-custom {
    color: #ffffff !important;
    background-color: #3f51b5;
    border: 1px solid #3f51b5;
  }
  .notifyjs-metro-success {
    color: #ffffff !important;
    background-color: #66bb6a;
    border: 1px solid #66bb6a;
  }
  .notifyjs-metro-info {
    color: #ffffff !important;
    background-color: #29b6f6;
    border: 1px solid #29b6f6;
  }
  .notifyjs-metro-warning {
    color: #ffffff !important;
    background-color: #ffc107;
    border: 1px solid #ffc107;
  }
  .notifyjs-metro-black {
    color: #ffffff !important;
    background-color: #4c5667;
    border: 1px solid #4c5667;
  }
  .notifyjs-metro-white {
    background-color: #ffffff;
    border: 1px solid #ddd;
  }
  .notifyjs-corner {
  position: fixed;
  margin: 5px;
  z-index: 1050;
}

.notifyjs-corner .notifyjs-wrapper,
.notifyjs-corner .notifyjs-container {
  position: relative;
  display: block;
  height: inherit;
  width: inherit;
  margin: 3px;
}

.notifyjs-wrapper {
  z-index: 1;
  position: absolute;
  display: inline-block;
  height: 0;
  width: 0;
}

.notifyjs-container {
  display: none;
  z-index: 1;
  position: absolute;
}

.notifyjs-hidable {
  cursor: pointer;
}

[data-notify-text],[data-notify-html] {
  position: relative;
}

.notifyjs-arrow {
  position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
}
  .table-hover-success tbody tr:hover td, .table-hover-success tbody tr:hover th {
    background-color: #00b19d !important;
    color: white;
  }
  /* No padding in the button column */
  table tbody tr td:nth-child(13) {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  /* Move the icon up in to small buttons in the button column */
  table tbody tr td button.btn-table-row .svg-inline--fa {
    vertical-align: .2em !important;
  }

</style>


  <script>
    function timestamp() {
      d = new Date();
      return (d.getFullYear() + "-" + 
             (d.getMonth()<10?'0':'') + (d.getMonth()+1) + "-" + 
             (d.getDate()<10?'0':'') + d.getDate() + '.' + 
             (d.getHours()<10?'0':'') + d.getHours() + ":" + 
             (d.getMinutes()<10?'0':'') + d.getMinutes() + "." + 
             (d.getSeconds()<10?'0':'') + d.getSeconds() + '.' + 
             (d.getMilliseconds()<100?'0':'') + (d.getMilliseconds()<10?'0':'') + d.getMilliseconds()
      )
    }

    var chargeSessionSocket = undefined
    function startWebSocket() {
      console.log(timestamp() + ' startWebSocket()')
      // start up the SocketIO connection to the server on namespace /usage
      chargeSessionSocket = io.connect(window.location.protocol+'//'+window.location.hostname+':'+window.location.port+'/charge_session')
      // this is a callback that triggers when the "my response" event is emitted by the server.
      chargeSessionSocket.on('charge_session_started', function(msg) {
        console.log('Received: ' + JSON.stringify(msg))
          // Active charge session, active token can stop it
        drawSessionStartStopButtons( msg.data.id, msg.data.rfid )
      })
      chargeSessionSocket.on('charge_session_ended', function(msg) {
        console.log('Received: ' + JSON.stringify(msg))
        // No charge session found (green)
        drawSessionStartStopButtons( undefined, undefined )
      })
    }

    function drawSessionStartStopButtons( sessionId = undefined, activeToken = undefined ) {
        if ( sessionId != undefined ) {
          // Session active, active token can stop it
          dt.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
            var data = this.data()
            data[12] = ''
            if (data[1] == activeToken) {
              // This token started the current charge session, it can stop it
              data[12] = '<button' +
                        '   type="button"' +
                        '   class="btn btn-sm btn-table-row waves-effect waves-light btn-outline-warning" ' +
                        '   style="height: 18px; padding-top: 0px;"' +
                        '   data-toggle="tooltip" ' +
                        '   data-placement="bottom" ' +
                        '   data-html="true" ' +
                        '   title="<em>Stop laadsessie met ' + data[0] + '.</em>"' +
                        '   onclick="window.location.href=\'/stop_charge_session/' + sessionId + '?next=charge_sessions\'"' +
                        '   onMouseOver="javascript:mouseOverTableRowButton(false);"' +
                        '   onMouseOut="javascript:mouseOverTableRowButton(true);"' +
                        '   >' +
                        '   <i class="fa fa-hand-paper" style="font-size: 12px;"></i>' +
                        '</button>'
            }
            this.invalidate()
          })
        } else {
          // No session active, valid tokens can start one
          dt.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
            var data = this.data()
            // No charge session active, can this RFID start one?
            if (isRfidValid(data[2], data[3], data[4])) {
              data[12] = '<button' +
                        '   type="button"' +
                        '   class="btn btn-sm btn-table-row waves-effect waves-light btn-outline-success" ' +
                        '   style="height: 18px; padding-top: 0px;"' +
                        '   data-toggle="tooltip" ' +
                        '   data-placement="bottom" ' +
                        '   data-html="true" ' +
                        '   title="<em>Start laadsessie met ' + data[0] + '.</em>"' +
                        '   onclick="window.location.href=\'/start_charge_session/' + data[1] + '?next=charge_sessions\'"' +
                        '   onMouseOver="javascript:mouseOverTableRowButton(false);"' +
                        '   onMouseOut="javascript:mouseOverTableRowButton(true);"' +
                        '   >' +
                        '   <i class="fas fa-charging-station" style="font-size: 12px;"></i>' +
                        '</button>'
            } else {
              data[12] = '<button' +
                        '   type="button"' +
                        '   class="btn btn-sm btn-table-row waves-effect waves-light btn-outline-secondary disabled" ' +
                        '   style="height: 18px; padding-top: 0px;"' +
                        '   data-toggle="tooltip" ' +
                        '   data-placement="bottom" ' +
                        '   data-html="true" ' +
                        '   title="<em>Kan geen laadsessie starten met inactief token.</em>"' +
                        '   onMouseOver="javascript:mouseOverTableRowButton(false);"' +
                        '   onMouseOut="javascript:mouseOverTableRowButton(true);"' +
                        '   >' +
                        '   <i class="fas fa-charging-station" style="font-size: 12px;"></i>' +
                        '</button>'
            }
            this.invalidate()
        })
      }
    }


    var dt = undefined
    function getChargeSessionStatus( ) {
      console.log(timestamp() + ' getChargeSessionStatus()')
      $.ajax({
        type		    : 'GET',
        url			    : '/active_charge_session/',
        dataType	  : 'json',
        encode		  : true,
        headers     : { 'ignore-login-next': 'true' }
      }) // using the done promise callback
      .done(function(result) {
        // log data to the console so we can see
        console.log(result)
        switch(parseInt(result.status)) {
          case 404:                   // No charge session found (green)
            drawSessionStartStopButtons( undefined, undefined )
            break
          case 200:                   // Charge session found (yellow/blue)
            // Can stop a charge session, if active token
            drawSessionStartStopButtons( result.data.id, result.rfid.rfid )
            break
          case 500:                   // Internal server error
          default:
            // Cannot start a charge session
            dt.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
                var data = this.data()
                data[12] = ''
                this.invalidate()
            })
            break
        }
        dt.draw()
        $('button[id^="edit_"]').click(function() {
          //Do stuff when clicked
          window.location = '/rfid_tokens/' + $(this).attr('id').split("_").pop();
        })
        $('button[id^="delete_"]').click(function() {
          var token = $(this).attr('id').split("_").pop()
          // Delete the entry
          // Remove entry from this table
          deleteRfidToken( token )
        })
        $('[data-toggle=tooltip]').tooltip({ boundary: 'window' })
      })
      .fail(function(result) {
        console.log('getChargeSessionStatus() FAILED')
        // log data to the console so we can see
        console.log(result)
        // If not logged in, no session data. Hide all
        hideChargeSession()
      })
      .always(function() {
        // Remove spinner?
      })
    }
    function updateOAuthTokenStatus(d) {
      // d is expiration date
      return ('Tesla autorisatie verloopt ' + 
        d.getDate() + ' ' + 
        months[d.getMonth()] + ' ' + 
        d.getFullYear() + ', ' +
        d.getHours() + ':' + (d.getMinutes() < 10 ? '0' : '') + d.getMinutes() + 'u'
      )
    }
    // Convert 06/01/2020, 00:00:00 to 6 Januari 2020
    function formatDbDateTimeStr2Date( dS ) {
      if ( (typeof dS !== 'string' && !(dS instanceof String)) ||
          dS === null ||
          dS === undefined
         ) 
         return '-'
      dsp1 = dS.split(', ')
      dEls = dsp1[0].split('/')
      return parseInt(dEls[0]) + ' ' + months[parseInt(dEls[1])-1] + ' ' + dEls[2]
    }
    // Convert 06/01/2020, 00:00:00 to 6 Januari 2020 00:00u
    function formatDbDateTimeStr2DateTime( dS ) {
      if ( (typeof dS !== 'string' && !(dS instanceof String)) ||
          dS === null ||
          dS === undefined
         ) 
         return '-'
      dsp1 = dS.split(', ')
      tEls = dsp1[1].split(':')
      return formatDbDateTimeStr2Date(dS) + ' ' +
             tEls[0].trim() + ':' + tEls[1] + 'u'
    }

    // Can only delete unused RFID Tokens
    function deleteRfidToken( rfid_token = undefined ) {
      console.log(timestamp() + ' deleteRfidToken()')
      // Show spinner
      $('.spinner').show()
      $.ajax({
        type		    : 'DELETE',
        url			    : '/rfid_tokens/' + rfid_token + '/',
        contentType : "application/json",
        dataType	  : 'json',
        encode		  : true,
        headers     : { 
                        'ignore-login-next': 'true',
                        'X-CSRFToken': '{{ csrf_token() }}'
                      }
      }) // using the done promise callback
      .done(function(result) {
        // log data to the console so we can see
        console.log(result)
        switch(parseInt(result.status)) {
          case 204:   // Ok, deleted
          case 200:   // Ok, deleted
            // Delete from table
            dt.row( $('button#delete_'+result.token).parents('tr') )
              .remove()
              .draw()
            autoHideNotify( 'success', 'top-left', 'Verwijderen gelukt', 'RFID token ' + result.token + ' succesvol verwijderd.' )
            break
          default:
            autoHideNotify( 'danger', 'top-left', 'Verwijderen mislukt', 'Verwijderen niet gelukt door onbekende reden.' )
            break
        }
      })
      .fail(function(result) {
        console.log('deleteRfidToken() FAILED')
        // log data to the console so we can see
        console.log(result)
        switch(parseInt(result.status)) {
          case 404:   // No token found
            autoHideNotify( 'danger', 'top-left', 'Verwijderen mislukt', 'Token niet gevonden.' )
            break
          case 405:   // Delete not allowed (charge session srelated to this token)
            autoHideNotify( 'danger', 'top-left', 'Verwijderen mislukt', 'Verwijderen niet toegestaan.' + (result.reason !== undefined ? result.status : '') )
            break
          default:
            autoHideNotify( 'danger', 'top-left', 'Verwijderen mislukt', 'Verwijderen niet gelukt door onbekende reden.')
            break
        }
      })
      .always(function() {
        // Remove spinner
        $('.spinner').hide()
      })
    }

    function createTokenTable() {
      dt = $('table#rfidTokens').DataTable( {
          "pageLength": 25,
          "order": [[ 5, "desc" ]], // Last used
          dom: 'frt',
          buttons: [
          ],
          "createdRow": function(row, data, dataIndex) {
            $(row).toggleClass("text-info").fadeOut(800, function() {              
              $(this).toggleClass("text-info").fadeIn(50)
            })
          },
          "columnDefs": [{
            "targets": [1, 10, 12],
            "sorting": false,
            "orderable": false
          }, {
            "targets": [11],
            "sorting": false,
            "orderable": false,
            "render": function (data, type, row) {
              if (row[7].toLowerCase() != 'tesla') {
                return '<span data-toggle="tooltip" \
                              data-placement="bottom" \
                              data-html="true" \
                              title="<em>Niet beschikbaar</em>" \
                              stype="cursor: not-allowed;" \
                              > \
                              <i class="fas fa-ban"></i> \
                        </span>'
              }
              const token_info = data.split('|')
              var t = updateOAuthTokenStatus(new Date((token_info[1] *1000) + (token_info[2] *1000))) 
              return ( (data == undefined || data == "None|None|None") ? 
                        '<span data-toggle="tooltip" \
                              data-placement="bottom" \
                              data-html="true" \
                              title="<em>Geen autorisatie</em>" \
                              > \
                              <i class="far fa-registered"></i> \
                        </span>' : 
                        '<span data-toggle="tooltip" \
                              data-placement="bottom" \
                              data-html="true" \
                              title="<em>' + t + '</em>" \
                              > \
                              <i class="fas fa-exchange-alt"></i> \
                        </span>'
              )
            }
          }],
          "searching": false
        }).draw()
    }

    function addTokenToTokenTable( element ) {

      if (typeof element.valid_from === 'string' || element.valid_from instanceof String) {
          d = new Date(element.valid_from)
      }
      var dateToStr = ''
      dt.row.add([
        (element.name == 'None' ? '-' : element.name),
        element.rfid,
        (element.enabled ? "Ja" : "Nee"),
        formatDbDateTimeStr2Date(element.valid_from),
        formatDbDateTimeStr2Date(element.valid_until),
        formatDbDateTimeStr2DateTime(element.last_used_at),
        (element.chargeSessions > 0 ? element.chargeSessions :
          '<button' +
          '   type="button"' +
          '   id="delete_' + element.rfid + '"' +
          '   class="btn btn-sm btn-table-row waves-effect waves-light btn-outline-danger" ' +
          '   style="height: 18px; padding-top: 0px;"' +
          '   data-toggle="tooltip" ' +
          '   data-placement="bottom" ' +
          '   data-html="true" ' +
          '   title="<em>Verwijder token \''+ (element.name == 'None' ? element.rfid : element.name) +'\' zonder laadsessie historie.</em>"' +
          '   onMouseOver="javascript:mouseOverTableRowButton(false);"' +
          '   onMouseOut="javascript:mouseOverTableRowButton(true);"' +
          '   >' +
          '   <i class="fas fa-trash-alt" style="font-size: 12px;"></i>' +
          '</button>'
        ),
        ((element.vehicle_make == undefined || element.vehicle_make == 'None') ? '-' : element.vehicle_make),
        ((element.vehicle_model == undefined || element.vehicle_model == 'None') ? '-' : element.vehicle_model),
        ((element.license_plate == undefined || element.license_plate == 'None') ? '-' : element.license_plate),
        (element.get_odometer === "True" ? 'Ja' : 'Nee'),
        (element.api_access_token + '|' + element.api_created_at + '|' + element.api_expires_in),
        '<button' +
        '   type="button"' +
        '   class="btn btn-sm btn-table-row waves-effect waves-light btn-outline-secondary disabled" ' +
        '   style="height: 18px; padding-top: 0px;"' +
        '   data-toggle="tooltip" ' +
        '   data-placement="bottom" ' +
        '   data-html="true" ' +
        '   title="<em>Niet actief.</em>"' +
        '   onMouseOver="javascript:mouseOverTableRowButton(false);"' +
        '   onMouseOut="javascript:mouseOverTableRowButton(true);"' +
        '   >' +
        '   <i class="fas fa-charging-station" style="font-size: 12px;"></i>' +
        '</button>'
      ]).draw()

    }

    function getRfidTokens() {
      console.log(timestamp() + ' getRfidTokens()')
      $.ajax({
        type		    : 'GET',
        url			    : '/rfid_tokens/',
        contentType : 'application/json',
        dataType	  : 'json',
        headers     : { 'ignore-login-next': 'true' },
        encode		  : true
      }) // using the done promise callback
      .done(function(data) {
        // log data to the console so we can see
        console.log(data)

        createTokenTable()

        //dt.clear().draw()
        dt.draw('full-reset')

        data.forEach(element => {
          addTokenToTokenTable( element )
        })

//        dt.columns.adjust().draw() // Redraw the DataTable
        $('button[id^="edit_"]').click(function() {
          window.location = '/rfid_tokens/' + $(this).attr('id').split("_").pop();
        })

        $('button[id^="delete_"]').click(function() {
          var token = $(this).attr('id').split("_").pop()
          // Delete the entry & remove entry from this table
          deleteRfidToken( token )
        })

        $('[data-toggle=tooltip]').tooltip({ boundary: 'window' })
        getChargeSessionStatus()
      })
      .fail(function(data) {
        console.log(data)
      })
      .always(function() {
        // Remove spinner
        $('.spinner').hide()
      })
    }

    function mouseOverTableRowButton( showRowHighlight ) {
      $('table#rfidTokens').toggleClass('table-hover-success', showRowHighlight)
    }


    var dialog;
    jQuery(document).ready(function () {
      console.log(timestamp() + " file load completed!")

      $('#newToken').on('click', function(e) {
        e.preventDefault()
        console.log(this.id)
        // Clean data field
        $('input#newRfid').val('')
        // Show input
        $('#newTokenInputForm').show()
        $('#enableNewTokenInputFormButton').hide()
      })
      $('button#cancelNewToken').on('click', function(e) {
        e.preventDefault()
        console.log(this.id)
        // Clean data field
        $('input#newRfid').val('')
        // Show newTokenInputFormButton
        $('#enableNewTokenInputFormButton').show()
        $('#newTokenInputForm').hide()
      })
      $('button#generateRandomToken').on('click', function(e) {
        e.preventDefault()
        console.log(this.id)
        // Generate random token in data field
        var rnd = Math.round(Math.random() * 1000000000000)
        rnd = (""+rnd)
        while ( rnd.length < 12 ) {
          rnd = '0' + rnd
        }
        $('input#newRfid').val(rnd.substring(0, 12))
      })
      
      $('button#createNewToken').on('click', function(e) {
        // Show spinner
        $('.spinner').hide()

        e.preventDefault()
        console.log(this.id)
        data = {
            csrf_token    : '{{ csrf_token() }}',
            param         : 'CREATE',
            value         : $('input#newRfid').val()
          }
        $.ajax({
          type		    : 'POST',
          url			    : ('/rfid_tokens/' + $('input#newRfid').val() + '/create/'),
          dataType	  : 'json',
          headers     : { 'ignore-login-next': 'true' },
          encode		  : true,
          data        : data
        }) // using the done promise callback
        .done(function(data) {
          // log data to the console so we can see
          console.log(data)

          el = { name: 'None', rfid: data.token, enabled: null, created_at: '{% if now.day < 10 %}0{% endif %}{{ now.day }}/{% if now.month < 10 %}0{% endif %}{{ now.month }}/{{ now.year }}, {% if now.hour < 10 %}0{% endif %}{{ now.hour }}:{% if now.minute < 10 %}0{% endif %}{{ now.minute }}:00', valid_from: null, valid_until: null, 
                last_used_at: null, chargeSessions: 0, vehicle_id: 'None', vehickle_name: 'None', vehicle_make: 'None', vehicle_model: 'None', 
                vehickle_vin: 'None',  license_plate: 'None', get_odometer: 'None', api_access_token: 'None', api_created_at: 'None', 
                api_expires_in: 'None', api_refresh_token: 'None', api_token_type: 'None' }
          addTokenToTokenTable( el )

          $('button[id^="edit_'+data.token+'"]').click(function() {
            window.location = '/rfid_tokens/' + $(this).attr('id').split("_").pop();
          })

          $('button[id^="delete_'+data.token+'"]').click(function() {
            var token = $(this).attr('id').split("_").pop()
            // Delete the entry & remove entry from this table
            deleteRfidToken( token )
          })

          $('[data-toggle=tooltip]').tooltip({ boundary: 'window' })
        })
        .fail(function(data) {
          console.log(data)
        })
        .always(function() {
          // Show newTokenInputFormButton
          $('#enableNewTokenInputFormButton').show()
          $('#newTokenInputForm').hide()
          // Remove spinner
          $('.spinner').hide()
        })
      })

      $('i.fa-info-circle').parent().hover( function() { 
        // mouseenter
        $(this).removeClass("bg-secondary")
        $(this).addClass("bg-success")
        $(this).removeClass("text-muted")
        $(this).addClass("text-light")
        cursor: pointer;
      }, function() { 
        // mouseleave
        $(this).removeClass("bg-success")
        $(this).addClass("bg-secondary")
        $(this).removeClass("text-light")
        $(this).addClass("text-muted")
      })
    

      getRfidTokens()

      $('table#rfidTokens').addClass('table-hover-success')
      $('table#rfidTokens').css('cursor', 'pointer')
      $('table#rfidTokens').on('click', 'tr', function () {
        // Only if highlighted
        if ($('table#rfidTokens').hasClass('table-hover-success')) {
          window.location = '/rfid_tokens/' + dt.row(this).data()[1]
        }
      })

      startWebSocket()
    })
    </script>

{% endblock %}
{% block content %}


<div class="wrapper" id="{{ var1 }}">
  <div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Laadpassen</h4>
            </div>
        </div>
    </div>
    <!-- end page title end breadcrumb -->


    <div class="row">
      <div class="col-12">
        <div class="card-box table-responsive">
          <table id="rfidTokens" class="table table-bordered" cellpadding="0" cellspacing="0" style="font-size: 10px;">
            <thead style="background-color: #3bafda; color: white; border-color: #3bafda;">
              <tr>
                <th style="text-align: center; min-width: 80px;">Naam</th>
                <th style="text-align: center;">Pasnummer</th>
                <th style="text-align: center;">Actief</th>
                <th style="text-align: center;">Geldig van</th>
                <th style="text-align: center;">Geldig tot</th>
                <th style="text-align: center;">Laatst gebruikt</th>
                <th style="text-align: center;">Sessies</th>
                <th style="text-align: center;">Merk</th>
                <th style="text-align: center;">Model</th>
                <th style="text-align: center;">Kenteken</th>
                <th style="text-align: center;">Update km stand</th>
                <th style="text-align: center;">Token</th>
                <th style="text-align: center;">&nbsp;</th>
              </tr>
            </thead style="background-color: #3bafda; color: white; font-size: 14pt; font-weight: bold; border-color: #3bafda;">
            <tbody>
            </tbody>
          </table>


          <div class="form-group row mt-2 mr-5" id="enableNewTokenInputFormButton">
            <button type="button" id="newToken" class="btn btn-outline-primary waves-effect waves-light ml-auto mr-5"> 
              <i class="fas fa-edit"></i> Nieuw token 
            </button>
          </div>


          <div class="form-group row mt-2 mr-5" style="display: none;" id="newTokenInputForm">
            <div class="input-group-prepend col-xs-3 text-white ml-auto">
              Nieuw token:    
            </div>

            <div class="input-group-append">
              <div class="input-group-prepend cursor-help">
                <span class="input-group-text border-secondary bg-dark b-1 text-secondary bg-secondary text-muted" data-toggle="tooltip" data-placement="bottom" data-html="true" title="" data-original-title="RFID tags zijn meestal twaalf cijfers. Handmatig kan elke unieke tekenreeks ingevoerd worden. Genereer eveentueel een random nummer met de knop rechts. Tokens kunnen niet meer gewijzigd worden om de relatie met laadsessies te behouden.">
                  <i class="fas fa-info-circle"></i>
                </span>
              </div>
              <div class="input-group-append">
                <input type="text" maxlength="16" id="newRfid" class="form-control" name="newRfid" placeholder="Pasnummer" value=""/>    
              </div>
              <div class="input-group-append">
                <button class="pr-3 btn btn-primary text-white" id="generateRandomToken" type="button" data-toggle="tooltip" data-placement="bottom" data-html="true" title="" data-original-title="<em>Klik om een willekeurig nummer te genereren.</em>">
                  <i class="fas fa-random"></i>
                </button>                    
              </div>
            </div>

            <div class="input-group-append">
              <button type="button" id="cancelNewToken" style="float: right;" class="btn btn-secondary waves-effect waves-light ml-3"> 
                <i class="fas fa-times"></i> Annuleren 
              </button>
            </div>
            <div class="input-group-append">
              <button type="button" id="createNewToken" class="btn btn-primary waves-effect waves-light ml-1 mr-5"> 
                <i class="far fa-thumbs-up"></i> Opslaan 
              </button>
            </div>
          </div>


        </div>
      </div>
    </div> <!-- end row -->

  </div>
</div>
{% endblock %}
