{% extends "template.html" %}
{% block title %}Vehicle Token{% endblock %}
{% block jquery %} 
  {% include 'includes/include.jquery-3.3.1.html' %}
{% endblock %} 
{% block head %}
  {{ super() }}
  <meta name="csrf-token" content="{{ csrf_token() }}">

  <!-- Datepicker, Date range picker -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap-daterangepicker/daterangepicker.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/oppleo.css') }}">

  <!-- Moment, required for date range picker -->
  <script src="{{ url_for('static', filename='plugins/moment/moment.js') }}"></script>

  <!-- Bootstrap switch button in template -->

  <!-- Datepicker, Date range picker -->
  <script src="{{ url_for('static', filename='plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/bootstrap-datepicker/datepicker-nl.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>

  <!-- Socket IO -->
  <script src="{{ url_for('static', filename='plugins/socket.io/2.3.1/socket.io.slim.js') }}"></script>

  <style>
    .form-control {
      color: #ffffff !important;
    }
    .form-control:disabled, .form-control[readonly] {
      color: #98a6ad !important;
      font-style: italic;
    }
    .btn-dark-disabled {
      color: #98a6ad !important;
      border: 0.1px #4c5a67 solid;
      font-style: italic;
      cursor: not-allowed !important;
    }
    .input-group-text {
      color: #98a6ad !important;
      background-color: #36404a;
      font-style: italic;
    }
    .text-light {
      color: #ffffff !important;
      font-style: normal;
    }
    .field-error {
      border: 1px solid red !important;
      color: red !important;
    }
    .rfid-rfid {
      vertical-align: middle;
      text-align: left;
    }
    .rfid-rfid h4 {
      margin-left: 10px;
      display: inline; 
    }
    .vehicle-img {
      position: absolute;
      right: 32px;
      top: -55px;
      max-width: 260px;
      max-height: 180px;
    }
  </style>

  <script>

    implementedVehicleMakeApiList = ['Tesla']
    fieldNames = ['vehicle_make', 'vehicle_model', 'license_plate', 'vehicle_vin', 'vehicle_name']
    fieldOverrideLinked = {
      "Tesla": {
        readonly: {
          // Is this field with linked account readonly?
          vehicle: false,
          vehicle_make: true,
          vehicle_model: false,
          license_plate: false,
          vehicle_vin: true,
          vehicle_name: true,
          get_odometer: false
        },
        reset: {
          // Reset value when read-only?
          vehicle: false,
          vehicle_make: false,
          vehicle_model: false,
          license_plate: false,
          vehicle_vin: false,
          vehicle_name: false,
          get_odometer: true
        }
      }
    }
    fieldOverrideUnlinked = {
      readonly: {
        // Is this field without linked account readonly?
        vehicle: true,
        vehicle_make: false,
        vehicle_model: false,
        license_plate: false,
        vehicle_vin: false,
        vehicle_name: false,
        get_odometer: true
      },
      reset: {
        // Reset value when read-only?
        vehicle: false,
        vehicle_make: false,
        vehicle_model: false,
        license_plate: false,
        vehicle_vin: false,
        vehicle_name: false,
        get_odometer: true
      }
    }
    savedMake = "{{ rfid_model.vehicle_make }}"
    accountLinked = {% if account_linked %}true{% else %}false{% endif %}
    vehicleList = [ {% for vehicle in vehicle_list %}{{ vehicle|safe }}{% endfor %} ]

    function timestamp() {
      d = new Date();
      return (d.getFullYear() + "-" + 
             (d.getMonth()<10?'0':'') + (d.getMonth()+1) + "-" + 
             (d.getDate()<10?'0':'') + d.getDate() + '.' + 
             (d.getHours()<10?'0':'') + d.getHours() + ":" + 
             (d.getMinutes()<10?'0':'') + d.getMinutes() + "." + 
             (d.getSeconds()<10?'0':'') + d.getSeconds() + '.' + 
             (d.getMilliseconds()<100?'0':'') + (d.getMilliseconds()<10?'0':'') + d.getMilliseconds()
      )
    }

    function updateOAuthTokenStatus(d) {
      // d is expiration date
      $('input#oauth_token_status').attr('placeholder', 'Tesla autorisatie verloopt ' + 
        d.getDate() + ' ' + 
        months[d.getMonth()] + ' ' + 
        d.getFullYear() + ', ' +
        d.getHours() + ':' + (d.getMinutes() < 10 ? '0' : '') + d.getMinutes() + 'u'
      )
    }

    function showVehicleApiAuthorization( data ) {
      // Reset fields
      $('input#account_id').val('')
      $('input#account_id').removeClass('field-error')
      $('input#vehicle_autorization').val('').trigger('change')
      $('button#show-link-account-closeaction').prop('disabled', true)
      showVehicleApiAuthorizationModal.modal('show')

    }

    function submitRfidTokenUpdate( close=true, data=undefined, successCallback=undefined ) {
      console.log(timestamp() + ' submitRfidTokenUpdate')
      // Start spinner
      $('.spinner').show()

      if (data == undefined ) {
        // Translate Dutch->English prior to submitting
        valid_from = $('input[name="valid_from"]').val()
        valid_until = $('input[name="valid_until"]').val()
        Object.entries(months).forEach(entry => {
          const [key, value] = entry
          valid_from = valid_from.replace(value, months_en[key])
          valid_until = valid_until.replace(value, months_en[key])
        })

        data = {
          // Pasnummer
          rfid          : '{{ rfid_model["rfid"] }}',
          // Name
          name          : $('input#name').val(),
          enabled       : $('input#enabled').prop('checked'),
          valid_from    : valid_from,
          valid_until   : valid_until,

          vehicle_make  : $('input#vehicle_make').val(),

          vehicle_model : $('input#vehicle_model').val(),
          license_plate : $('input#license_plate').val(),
          vehicle_vin   : $('input#vehicle_vin').val(),
          vehicle_name  : $('input#vehicle_name').val(),
    
          get_odometer  : $('input#get_odometer').prop('checked')
        }
      }

      $.ajax({
        type		    : 'POST',
        url			    : '/rfid_tokens/{{ rfid_model["rfid"] }}/',
        dataType	  : 'json',
        encode		  : true,
        contentType : 'application/json',
        headers     : { 
          'ignore-login-next' : 'true',
          'X-CSRF-Token'      : '{{ csrf_token() }}'
        },
        data        : JSON.stringify(data)
      }) // using the done promise callback
      .done(function(res) {
        switch (res.status) {
          case 200:
            savedMake = res.result.vehicle_make
            if (close) {
              // TODO: forward to tokens overview, or stay here (when only changing make!)
              window.location.href = '/rfid_tokens/'
            } else {
              autoHideNotify('success','top-left', 'Wijzigign opgeslagen', 'De wijzigingen zijn opgeslagen.')
              if (successCallback != null) { successCallback(res) }
            }
            break
          default:
            autoHideNotify('warning','top-left', 'Wijzigen mislukt', 'Het wijzigen van dit token is niet gelukt.')
            break
        }
      })
      .fail(function(res) {
        console.log(res)
        autoHideNotify('warning','top-left', 'Wijzigen mislukt', 'Het wijzigen van dit token is niet gelukt.')
      })
      .always(function() {
        // Only stop spinner if we stay on the page
        if (!close) { $('.spinner').hide() }
      })
    }

    function obtainVehicleAuthorizationUrl( account="me@world.com", make="Unknown", successCallback=null, failCallback=null, alwaysCallback=null, logout=false ) {
      console.log(timestamp() + ' obtainVehicleAuthorizationUrl')
      // Start spinner
      $('.spinner').show()
      $.ajax({
        type		    : 'GET',
        url			    : '/VehicleApi/AuthURL/?account=' + account + '&vehicle_make=' + $('input#vehicle_make').val() + (logout? '&logout=true' : ''),
        dataType	  : 'json',
        encode		  : true,
        contentType : 'application/json',
        headers     : { 
          'ignore-login-next' : 'true',
          'X-CSRF-Token'      : '{{ csrf_token() }}'
        },
        data        : JSON.stringify({ 'account' : account })
      }) // using the done promise callback
      .done(function(res) {
        if (successCallback != null) { successCallback(res) }
      })
      .fail(function(res) {
        if (failCallback != null) { failCallback(res) }
      })
      .always(function() {
        if (alwaysCallback != null) { alwaysCallback() }
      })
    }

    function unlinkVehicleAccount() {
      console.log(timestamp() + ' unlinkVehicleAccount')
      // Start spinner
      $('.spinner').show()
      $.ajax({
        type		    : 'POST',
        url			    : '/rfid_tokens/'+{{ rfid_model['rfid'] }}+'/VehicleApi/Unlink/',
        dataType	  : 'json',
        encode		  : true,
        headers     : { 'ignore-login-next': 'true' },
        data        : {
          csrf_token    : '{{ csrf_token() }}'
        }

      }) // using the done promise callback
      .done(function(res) {
        accountLinked = false
        vehicleList = []
        drawAccountLinkButton(accountLinked,  implementedVehicleMakeApiList.includes($('input#vehicle_make').val()), $('input#vehicle_make').val(), savedMake==$('input#vehicle_make').val())
        buildVehicleList(vehicleList, accountLinked)

        applyFieldBlocking( $('input#vehicle_make').val(), accountLinked )
        // Clear vehicle image
        $('span#vehicleImg').hide(500)


      })
      .fail(function(res) {
        autoHideNotify('warning','top-left', 'Ontkoppelen mislukt', 'Het ontkoppelen van het voertuigaccount is niet gelukt..')
      })
      .always(function() {
        // Start spinner
        $('.spinner').hide()
      })
    }


    // Vehicles is a list
    function buildVehicleList(vehicles, readonly=true, selectedId=undefined) {
      // Apply vehicle image
      $('span#vehicleImg').hide(500)
      // Add vehicle list to vehicle select box
      if (vehicles.length == 0) {
        $('select#vehicle').empty()
        $('select#vehicle').append('<option value="-" style="font-style: italic;">Geen voertuigen... </option>')
        return
      }
      let selectedVehicle = $(vehicles).filter(function() {
        return $(this).attr('vin') == selectedId
      })
      $('select#vehicle').empty()
      $('select#vehicle').append('<option value="" style="font-style: italic;">Selecteer voertuig...</option>')
      vehicles.forEach((vehicle) => {
        $('select#vehicle').append('<option value="'+vehicle.vin+'" style="font-style: italic;">'+vehicle.display_name+' (VIN: '+vehicle.vin+')</option>')
      })
      // Select the id if present
      if (selectedVehicle.length > 0) {
        $('select#vehicle').val(selectedId)
        $('input#vehicle_vin').val(selectedVehicle[0].vin)
        $('input#vehicle_name').val(selectedVehicle[0].display_name)

        if (selectedVehicle[0].hasOwnProperty('vehicle_img')) {
          let urlPrefix = '{{ url_for("static", filename="images/vehicles/") }}'
          $('span#vehicleImg').html('<img class="vehicle-img" src="'+urlPrefix+selectedVehicle[0].vehicle_img+'">')
          $('span#vehicleImg').show(500)
        }
      } else {
        if (selectedId == undefined) {
          $('input#vehicle_vin').val('').trigger('change')
        } else {
          $('input#vehicle_vin').val(selectedId)
        }
      }
    }

    function drawAccountLinkButton(linked, linkingAvailable, make=undefined, allowd=false) {
      if (!implementedVehicleMakeApiList.includes(make)) make = undefined
      $('button#add_remove_vehicle_api_authorization').off('click')
      if (linked) {
        // Change account link button
        $('button#add_remove_vehicle_api_authorization').html('<i class="fa fa-unlink"></i> Ontkoppel'+(make==undefined?'voertuig':' '+make)+' account')
        $('button#add_remove_vehicle_api_authorization').on('click', function() {      
          unlinkVehicleAccount()
        })
      } else if (linkingAvailable) {
        // Change account link button
        $('button#add_remove_vehicle_api_authorization').html('<i class="fa fa-link"></i> Koppel '+(make==undefined?'voertuig':' '+make)+' account')
        if (allowd) {
          $('button#add_remove_vehicle_api_authorization').on('click', function() {      
            showVehicleApiAuthorization()
          })
        } else {
          $('button#add_remove_vehicle_api_authorization').on('click', function() {      
            // TODO: Popup save action Yes/No
            $('#confirmModalLabel').html( 'Merk opslaan?' )
            $('#confirmModalText').html( 'Sla het voertuig-merk op om het account te kunnen koppelen.<br/>Het merk nu opslaan voor deze pas?' )
            $('#confirmModalOkButton').html( 'Ja' )
            $('#confirmModalCancelButton').html( 'Nee' )

            confirmModal.cancelCallback = function() {
              // Do nothing
            }
            confirmModal.confirmCallback = function() {
              submitRfidTokenUpdate( false, { 
                rfid          : '{{ rfid_model["rfid"] }}',
                vehicle_make  : $('input#vehicle_make').val(),
              })
            }                                  
            confirmModal.confirmCallback = function() {
              submitRfidTokenUpdate( false, { 
                rfid          : '{{ rfid_model["rfid"] }}',
                vehicle_make  : $('input#vehicle_make').val(),
              },
              // Success callback
              function(result) {
                // log data to the console so we can see
                console.log(result)
                // Change account link button
                drawAccountLinkButton(false, true, make, true)
                showVehicleApiAuthorization()
              })
            }
            confirmModal.modal('show')
          })
        }
      } else {
        // No linking available
        $('button#add_remove_vehicle_api_authorization').html('<i class="fa fa-link"></i> <i>Koppel'+(make==undefined?'':' '+make)+' account</i>')
      }
      $('button#add_remove_vehicle_api_authorization').toggleClass('btn-success', !linked && linkingAvailable)
      $('button#add_remove_vehicle_api_authorization').toggleClass('btn-warning', linked)
      $('button#add_remove_vehicle_api_authorization').toggleClass('btn-secondary', !linked && !linkingAvailable)
      $('button#add_remove_vehicle_api_authorization').attr('disabled', !linkingAvailable)
    }

    // Make the required fields read-only
    function applyFieldBlocking(make=undefined, isLinked=false) {
      // Make fields readonly if account linked
      if (!isLinked) {
        for (const field in fieldOverrideUnlinked.readonly) {

          // Reset values?
          if (fieldOverrideUnlinked.reset[field]) {
            // Type of field
            switch ($('#'+field).attr('type')) {
              case 'text':
                $('#'+field).val('').trigger('change')
                $('#'+field).prop("disabled", fieldOverrideUnlinked.readonly[field])
                break
              case 'checkbox':
                $('#'+field).bootstrapToggle('destroy')
                $('#'+field).attr('data-onstyle', 'dark-disabled')
                $('#'+field).attr('data-offstyle', 'dark-disabled')
                $('#'+field).attr("disabled", fieldOverrideUnlinked.readonly[field])
                $('#'+field).bootstrapToggle()
                $('#'+field).bootstrapToggle('off')
                $('#'+field).prop('checked', false).change()
                break
              default:
                $('#'+field).prop("disabled", fieldOverrideUnlinked.readonly[field])
                break
            }
          } else {
            $('#'+field).prop("disabled", fieldOverrideUnlinked.readonly[field])
          }
          // Show / hide info box and trash button
          $('#'+field+'_info').toggle(fieldOverrideUnlinked.readonly[field]) 
          $('#'+field+'_trash').toggle(!fieldOverrideUnlinked.readonly[field])
        }
      }

      // Make fields readonly if account linked
      if (isLinked && fieldOverrideLinked.hasOwnProperty(make)) {
        for (const field in fieldOverrideLinked[make].readonly) {
          // Type of field
          switch ($('#'+field).attr('type')) {
            case 'checkbox':
              $('#'+field).bootstrapToggle('destroy')
              $('#'+field).attr('data-onstyle', 'primary')
              $('#'+field).attr('data-offstyle', 'dark')
              $('#'+field).attr("disabled", fieldOverrideLinked[make].readonly[field])
              $('#'+field).bootstrapToggle()
              break
            default:
              $('#'+field).attr('disabled', fieldOverrideLinked[make].readonly[field])
              // Do nothing
              break
          }
          // Show / hide info box and trash button
          $('#'+field+'_info').toggle(fieldOverrideLinked[make].readonly[field]) 
          $('#'+field+'_trash').toggle(!fieldOverrideLinked[make].readonly[field])
        }
      }
    }


    function openExternalLoginPage() {
      if (!validEmail($('input#account_id').val())) {
        autoHideNotify('warning','top-left', 'Geen geldig emailadres', 'Vul eerst een geldig emailadres in.')
        return
      }
      obtainVehicleAuthorizationUrl(  ( $('input#account_id').val().trim().length > 0 ? $('input#account_id').val().trim() : "me@world.com"), 
        $('input#vehicle_make').val(), 
        function(result) {
          // successCallback
          // log data to the console so we can see
          console.log(result)
          switch(result.status) {
            case 200: // Ok
              let newWindow = window.open(result.url, '_blank')
              if (newWindow != null) {
                // Focus it
                newWindow.focus()
              } else {
                // Popup blocker
                autoHideNotify('error', 'top-left', 'Geblokkeerd', 'De login pagina kon niet worden geopend, waarschijnlijk is er een popup-blokker actief.', 60000)
              }
              break;
            default:
              // ???
              autoHideNotify('error', 'top-left', 'Onbekende fout', 'Er is een onverwachte fout opgetreden.')
          }                                          
        }, function(result) {
          // failCallback
          autoHideNotify('error','top-left', 'Niet beschikbaar', 'Deze functie is momenteel niet beschikbaar.')
        }, function(result) {
          // alwaysCallback
          // Remove spinner
          $('.spinner').hide()
        }
      )
    }
    function copyExternalLoginPage() {
      if (!validEmail($('input#account_id').val())) {
        autoHideNotify('warning','top-left', 'Geen geldig emailadres', 'Vul eerst een geldig emailadres in.')
        return
      }
      obtainVehicleAuthorizationUrl(  ( $('input#account_id').val().trim().length > 0 ? $('input#account_id').val().trim() : "me@world.com"), 
        $('input#vehicle_make').val(), 
        function(result) {
          // successCallback
          // log data to the console so we can see
          console.log(result)
          switch(result.status) {
            case 200: // Ok
              // Copy the url to the clipboard
              navigator.clipboard.writeText(result.url)
              // Popup blocker
              autoHideNotify('success', 'top-left', 'Gekopieerd', 'De login url is gekoppieerd.')
              break;
            default:
              // ???
              autoHideNotify('error', 'top-left', 'Onbekende fout', 'Er is een onverwachte fout opgetreden.')
          }                                          
        }, function(result) {
          // failCallback
          autoHideNotify('error','top-left', 'Niet beschikbaar', 'Deze functie is momenteel niet beschikbaar.')
        }, function(result) {
          // alwaysCallback
          // Remove spinner
          $('.spinner').hide()
        }
      )
    }


    jQuery(document).ready(function () {
      console.log(timestamp() + " file load completed!")
      $('tr#error-msg-row').hide()
      // Change English valid_from and valid_untill months to Dutch
      valid_from = $('input[name="valid_from"]').val()
      Object.entries(months_en).forEach(entry => {
        const [key, value] = entry
        valid_from = valid_from.replace(value, months[key])
      })
      $('input[name="valid_from"]').val(valid_from)
      // Change Dutch months in valid_until into English values for interpretation
      valid_until = $('input[name="valid_until"]').val()
      Object.entries(months_en).forEach(entry => {
        const [key, value] = entry
        valid_until = valid_until.replace(value, months[key])
      })
      $('input[name="valid_until"]').val(valid_until)

      $('#valid-range').datepicker({
          todayHighlight: true,
          autoclose: true,
          startDate : undefined,
          endDate   : undefined,
          format: "d MM yyyy",    // 7 January 2020
          language: 'nl'
      })
      $("button[id^=show_]").click(function() {
          id = $(this).attr('id').split("show_").pop()
          $('input[id='+id).attr(
              'type', 
              ( $('input[id='+id).attr('type') === "password" ? 'text' : 'password')
          )
          $(this).find('i').toggleClass('fa-eye')     // far fa-eye
          $(this).find('i').toggleClass('fa-eye-slash') // far fa-eye-slash
      })
      $('[data-toggle=tooltip]').tooltip({ 
        boundary: 'window', 
        trigger : 'hover'   // Allow button clicks
      })
      $('button[data-toggle="tooltip"]').on('click', function () {
        $(this).tooltip('hide')
      })
    
      $('input#get_odometer').bootstrapToggle()

      $('input#enabled').bootstrapToggle()
      $('input#enabled').change(function() {
        // Nothing. Changes are submitted as whole form
      })

      drawAccountLinkButton(accountLinked,  implementedVehicleMakeApiList.includes($('input#vehicle_make').val()), $('input#vehicle_make').val(), savedMake==$('input#vehicle_make').val())
      $('span#vehicleImg').hide()
      buildVehicleList(vehicleList, accountLinked, {% if rfid_model['vehicle_vin'] is not none %}'{{ rfid_model.vehicle_vin }}'{% else %}undefined{% endif %})

      applyFieldBlocking( $('input#vehicle_make').val(), accountLinked )
      // 
      $('select#vehicle').attr('readonly', !accountLinked)

      $('input[name="vehicle_make"]').on("change paste keyup", function() {
        drawAccountLinkButton(accountLinked,  implementedVehicleMakeApiList.includes($('input#vehicle_make').val()), $('input#vehicle_make').val(), savedMake==$('input#vehicle_make').val())
      })

      $('select#vehicle').on('change', function() {
        $('input#vehicle_name').val('').trigger('change')
        $('input#vehicle_vin').val('').trigger('change')
        // Apply vehicle image
        $('span#vehicleImg').hide(500)
        $.each( vehicleList, function( index, vehicleInList ) {
          if ($('select#vehicle').val() == vehicleInList.vin) {
            $('input#vehicle_name').val(vehicleInList.display_name)
            $('input#vehicle_vin').val(vehicleInList.vin)
            // Apply vehicle image
            if (vehicleInList.hasOwnProperty('vehicle_img')) {
              let urlPrefix = '{{ url_for("static", filename="images/vehicles/") }}'
              $('span#vehicleImg').html('<img class="vehicle-img" src="'+urlPrefix+vehicleInList.vehicle_img+'">')
              $('span#vehicleImg').show(500)
            }
          }
        })
      })
      // Change date language just before submitting it 
      $( "form#rfid-change-form" ).submit(function( event ) {
        // Change Dutch months in valid_from into English values for interpretation
        valid_from = $('input[name="valid_from"]').val()
        Object.entries(months).forEach(entry => {
          const [key, value] = entry
          valid_from = valid_from.replace(value, months_en[key])
        })
        $('input[name="valid_from"]').val(valid_from)

        // Change Dutch months in valid_until into English values for interpretation
        valid_until = $('input[name="valid_until"]').val()
        Object.entries(months).forEach(entry => {
          const [key, value] = entry
          valid_until = valid_until.replace(value, months_en[key])
        })
        $('input[name="valid_until"]').val(valid_until)
      })

      showVehicleApiAuthorizationModal = $('#showVehicleApiAuthorizationModal').modal({
        backdrop: 'static',
        keyboard: false,
        show: false
      })

      $('input#account_id').on( 'keyup keypress paste input change', (el) => {
	      vEmail =validEmail(el.currentTarget.value)
        $('input#account_id').toggleClass('field-error', !vEmail)
        $('button#show-link-account-closeaction').prop('disabled', ($('input#vehicle_autorization').val().trim().length == 0 || !vEmail))
      })

      $('input#vehicle_autorization').on( 'keyup keypress paste input change', (el) => {
        $('button#show-link-account-closeaction').prop('disabled', (el.currentTarget.value.trim().length == 0 || !validEmail($('input#account_id').val())))
      })

      $('button#show-link-account-cancelaction').on('click', function(el) {
        showVehicleApiAuthorizationModal.modal('hide')
      })
      
      $('button#show-link-account-closeaction').on('click', function(el) {
        // Link account
        console.log(timestamp() + ' link account')
        // Start spinner
        $('.spinner').show()
        let data = {
            vehicle_make  : $('input#vehicle_make').val().trim(),
            account       : $('input#account_id').val().trim(),
            token         : $('input#vehicle_autorization').val().trim()
        }
        $.ajax({
          type		    : 'POST',
          url			    : '/rfid_tokens/'+{{ rfid_model["rfid"] }}+'/VehicleApi/ValidateTokenOrUrl/',
          dataType	  : 'json',
          encode		  : true,
          contentType : 'application/json',
          headers     : { 
            'ignore-login-next' : 'true',
            'X-CSRF-Token'      : '{{ csrf_token() }}'
          },
          data        : JSON.stringify( data )
        }) // using the done promise callback
        .done(function(res) {
          switch (res.status) {
            case 200:
              autoHideNotify('success','top-left', 'Account gelinkt', 'Account sucesvol gelinkt.')
              // Change account link button
              accountLinked = true
              vehicleList = res.vehicles
              drawAccountLinkButton(accountLinked,  implementedVehicleMakeApiList.includes($('input#vehicle_make').val()), $('input#vehicle_make').val(), savedMake==$('input#vehicle_make').val())
              buildVehicleList(vehicleList, accountLinked, $('input#vehicle_vin').val())

              applyFieldBlocking( $('input#vehicle_make').val(), accountLinked )

              showVehicleApiAuthorizationModal.modal('hide')
              break
            default:
              autoHideNotify('error','top-left', 'Niet gelinkt', 'Autorisatie niet geaccepteerd.')
          }
        })
        .fail(function(res) {
          // fail
          autoHideNotify('error','top-left', 'Niet beschikbaar', 'Deze functie is momenteel niet beschikbaar.')
        })
        .always(function() {
          // Remove spinner
          $('.spinner').hide()
        })
      })

      // Remove spinner
      $('.spinner').hide()
    })

    </script>

{% endblock %}
{% block content %}

<div class="wrapper">
  <div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Laadpas</h4>
            </div>
        </div>
    </div>
    <!-- end page title end breadcrumb -->

    <form id="rfid-change-form" class="form-horizontal m-t-20" method="POST" action="" autocomplete="on">

    <div class="row">
      <div class="col-12">
        <div class="card-box table-responsive">
          <table id="usage" class="table table-bordered" cellpadding="0" cellspacing="0" style="font-size: 10px;">

            {% if errorlist is defined %}
            <tr id="error-msg-row-x">
              <th colspan="2">
                <div class="text-center bg-danger text-white pt-2 pb-1" style="border-radius: 5px;">
                  {% for error_field in errorlist %}
                  {% for error_text in errorlist[error_field] %}
                    <span>
                      <h4 style="font-weight: bold;">
                        <i class="mdi mdi-alert-outline"></i>
                        <span id="error-msg-title">{{ error_text }} voor {{ error_field }}</span>
                      </h4>
                      <h5 id="error-msg-sub"></h5>
                    </span>
                  {%- endfor -%}
                  {%- endfor -%}
                </div>
              </th>
            </tr>
            {%- endif -%}


            <tr id="error-msg-row">
              <th colspan="2">
                <div class="text-center" style="color: white; background-color: #ef5350; border-radius: 5px;">
                    <span>
                      <h4 style="font-weight: bold;">
                        <i class="mdi mdi-alert-outline"></i>
                        <span id="error-msg-title"></span>
                      </h4>
                      <h5 id="error-msg-sub"></h5>
                    </span>
                </div>
              </th>
            </tr>
            <tr>
              <th><h5>Pasnummer</h5></th>
              <td class="text-primary rfid-rfid">
                <h4>{{ rfid_model['rfid'] }}</h4>
                <span id="vehicleImg"></span>
              </td>
            </tr>
            <tr>
              <th><h5>Naam</h5></th>
              <td>
                <input class="form-control" id="name" name="name" type="text" placeholder="Naam"
                       value="{% if rfid_model['name'] is not none %}{{ rfid_model['name'] }}{% endif %}">
              </td>
            </tr>
            <tr>
              <th><h5>Actief</h5></th>
              <td>
                <div class="input-group">
                  <span>
                    <input type="checkbox" 
                      {% if rfid_model['enabled'] %}checked{% endif %}
                      name="enabled"
                      id="enabled"
                      data-toggle="toggle"
                      data-on="<i class='far fa-thumbs-up'></i></i> JA"
                      data-off="<i class='far fa-thumbs-down'></i> NEE"
                      data-onstyle="primary"
                      data-offstyle="dark"
                      data-size="sm"
                      data-height="40"
                      data-width="100"
                    />
                  </span>
                </div>
              </td>
            </tr>
            <tr>
              <th><h5>Registratie</h5></th>
              <td>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-dark text-muted border-dark">
                      <i class="far fa-calendar-alt"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control border-dark" disabled placeholder="{% if rfid_model['created_at'] is not none %}{{ rfid_model['created_at'].strftime(' %d %B %Y').replace(' 0', ' ').strip() }}{% endif %}">
                  <span class="input-group-text bg-dark text-muted border-dark">
                    <i class="far fa-clock"></i>
                  </span>
                  <input type="text" class="form-control border-dark" disabled placeholder="{% if rfid_model['created_at'] is not none %}{{ rfid_model['created_at'].strftime(' %H:%Mu').replace(' 0', ' ').strip() }}{% endif %}">
                  <div class="input-group-append info-button-style"
                       data-toggle="tooltip" 
                       data-placement="bottom" 
                       data-html="true" 
                       title="Eerste registratie van dit pasnummer op dit laadpunt. Automatisch gegenereerd."
                    >
                    <span class="input-group-text bg-secondary text-muted border-secondary">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th><h5>Laatst aangeboden</h5></th>
              <td>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-dark text-muted border-dark">
                      <i class="far fa-calendar-alt"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control border-dark" disabled placeholder="{% if rfid_model['last_used_at'] is not none %}{{ rfid_model['last_used_at'].strftime(' %d %B %Y').replace(' 0', ' ').strip() }}{% endif %}">
                  <span class="input-group-text bg-dark text-muted border-dark">
                    <i class="far fa-clock"></i>
                  </span>
                  <input type="text" class="form-control border-dark" disabled placeholder="{% if rfid_model['last_used_at'] is not none %}{{ rfid_model['last_used_at'].strftime(' %H:%Mu').replace(' 0', ' ').strip() }}{% endif %}">
                  <div class="input-group-append info-button-style"
                       data-toggle="tooltip" 
                       data-placement="bottom" 
                       data-html="true" 
                       title="Laatste gebruik van dit pasnummer op dit laadpunt. Automatisch gegenereerd."
                    >
                    <span class="input-group-text bg-secondary text-muted border-secondary">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th><h5>Toegestaan</h5></th>
              <td>
                <div class="input-daterange input-group" id="valid-range">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-primary b-0 text-light border-primary">
                      Van
                    </span>
                  </div>
                  <input type="text" class="form-control" name="valid_from" 
                         value="{% if rfid_model['valid_from'] is not none %}{{ rfid_model['valid_from'].strftime(' %d %B %Y').replace(' 0', ' ').strip() }}{% endif %}"/>
                  <button class="input-group-append bg-dark pl-3 pr-3 btn btn-outline-secondary border-dark text-white"
                          onclick="$('input[name=valid_from]').val('').trigger('change'); return false;"
                          data-toggle="tooltip" 
                          data-placement="bottom" 
                          data-html="true" 
                          title="<em>Geen startdatum</em>"
                          >
                    <i class="far fa-trash-alt"></i>
                  </button>    
                  <div class="input-group-append">
                    <span class="input-group-text bg-primary b-0 text-light border-dark">
                        Tot
                    </span>
                  </div>
                  <input type="text" class="form-control" name="valid_until"
                         value="{% if rfid_model['valid_until'] is not none %}{{ rfid_model['valid_until'].strftime(' %d %B %Y').replace(' 0', ' ').strip() }}{% endif %}"/>
                  <div class="input-group-append">
                    <button class="input-group-append bg-dark pl-3 pr-3 btn btn-outline-secondary border-dark text-white"
                            onclick="$('input[name=valid_until]').val('').trigger('change'); return false;"
                            data-toggle="tooltip" 
                            data-placement="bottom" 
                            data-html="true" 
                            title="<em>Geen einddatum</em>"
                            >
                      <i class="far fa-trash-alt"></i>
                    </button>    
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th colspan="2"></th>
            </tr>
            <tr>
              <th><h5>Merk</h5></th>
              <td>
                <div class="input-group">
                  <datalist id="car_makes">
                    <option value="Audi">
                    <option value="BMW">
                    <option value="Mercedes">
                    <option value="Mitsubishi">
                    <option value="Peugeot">
                    <option value="Tesla">
                    <option value="Toyota">
                    <option value="Volkswagen">
                  </datalist>
                  <input class="form-control" id="vehicle_make" name="vehicle_make" list="car_makes" type="text" placeholder="Merk"
                         value="{% if rfid_model['vehicle_make'] is not none %}{{ rfid_model['vehicle_make'] }}{% endif %}">

                  <div class="input-group-append info-button-style"
                       id="vehicle_make_info"
                       data-toggle="tooltip" 
                       data-placement="bottom" 
                       data-html="true" 
                       title="Ontkoppel eerst het voertuigaccount."
                    >
                    <span class="input-group-text bg-secondary text-muted border-secondary">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </div>

                  <span class="input-group-append">
                    <button 
                      id="add_remove_vehicle_api_authorization"
                      type="button" 
                      class="btn btn-sm waves-effect waves-light btn-success float-right mt-0" 
                      data-toggle="tooltip" 
                      data-placement="bottom" 
                      data-html="true" 
                      title="Link de interface van de voertuigfabrikant aan Oppleo om voertuiginformatie zoals de kilometerstand automatisch toe te voegen."
                      >
                      <i class="fa fa-link"></i>
                      Link Tesla Account
                    </button>
                  </span>
                </div>
              </td>
            </tr>

            <tr id="vehicles_row">
              <th><h5>Model</h5></th>
              <td>
                <div class="input-group">
                  <input class="form-control" id="vehicle_model" name="vehicle_model" type="text" placeholder="Model" list="car_models"
                         value="{% if rfid_model['vehicle_model'] is not none %}{{ rfid_model['vehicle_model'] }}{% endif %}">
                  <datalist id="car_models">
                    <option>Model S</option>
                    <option>Model X</option>
                    <option>Model 3</option>
                    <option>i3</option>
                  </datalist>          
                  <div class="input-group-append" id="vehicle_model_trash">
                    <button class="input-group-append bg-dark pl-3 pr-3 btn btn-outline-secondary border-dark text-white"
                            onclick="$('input#vehicle_model').val('').trigger('change'); return false;"
                            data-toggle="tooltip" 
                            data-placement="bottom" 
                            data-html="true" 
                            title="Verwijder modelnaam"
                            >
                      <i class="far fa-trash-alt"></i>
                    </button>    
                  </div>
                  <div class="input-group-append info-button-style"
                       id="vehicle_model_info"
                       data-toggle="tooltip" 
                       data-placement="bottom" 
                       data-html="true" 
                       title="Het model wordt uit de Tesla api opgehaald."
                    >
                    <span class="input-group-text bg-secondary text-muted border-secondary">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </div>                
                <div>
              </td>
            </tr>
            <tr>
              <th><h5>Kenteken</h5></th>
              <td>
                <div class="input-group">
                  <input class="form-control" id="license_plate" name="license_plate" type="text" placeholder="Kenteken" 
                        value="{% if rfid_model['license_plate'] is not none %}{{ rfid_model['license_plate'] }}{% endif %}">
                  <div class="input-group-append" id="license_plate_trash">
                    <button class="input-group-append bg-dark pl-3 pr-3 btn btn-outline-secondary border-dark text-white"
                            onclick="$('input#license_plate').val('').trigger('change'); return false;"
                            data-toggle="tooltip" 
                            data-placement="bottom" 
                            data-html="true" 
                            title="Verwijder kenteken"
                            >
                      <i class="far fa-trash-alt"></i>
                    </button>    
                  </div>
                  <div class="input-group-append info-button-style"
                       id="license_plate_info"
                       data-toggle="tooltip" 
                       data-placement="bottom" 
                       data-html="true" 
                       title="Het kenteken wordt uit de Tesla api opgehaald."
                    >
                    <span class="input-group-text bg-secondary text-muted border-secondary">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <th><h5>VIN</h5></th>
              <td>
                <div class="input-group">
                  <input class="form-control" id="vehicle_vin" name="vehicle_vin" type="text" autocomplete="off" placeholder="Vehicle identification Number (VIN)" 
                    value="{% if rfid_model['vehicle_vin'] is not none %}{{ rfid_model['vehicle_vin'] }}{% endif %}">
                  <div class="input-group-append" id="vehicle_vin_trash">
                    <button class="input-group-append bg-dark pl-3 pr-3 btn btn-outline-secondary border-dark text-white"
                            onclick="$('input#vehicle_vin').val('').trigger('change'); return false;"
                            data-toggle="tooltip" 
                            data-placement="bottom" 
                            data-html="true" 
                            title="Verwijder Vehicle Identification Number (VIN)"
                            >
                      <i class="far fa-trash-alt"></i>
                    </button>    
                  </div>
                  <div class="input-group-append info-button-style"
                       id="vehicle_vin_info"
                       data-toggle="tooltip" 
                       data-placement="bottom" 
                       data-html="true" 
                       title="Het Vehicle Identification Number (VIN) wordt uit het gekoppelde account opgehaald."
                    >
                    <span class="input-group-text bg-secondary text-muted border-secondary">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <th><h5>Naam</h5></th>
              <td>
                <div class="input-group">
                  <input class="form-control" id="vehicle_name" name="vehicle_name" type="text" autocomplete="off" placeholder="Voertuig naam" 
                    value="{% if rfid_model['vehicle_name'] is not none %}{{ rfid_model['vehicle_name'] }}{% endif %}">
                  <div class="input-group-append" id="vehicle_name_trash">
                    <button class="input-group-append bg-dark pl-3 pr-3 btn btn-outline-secondary border-dark text-white"
                            onclick="$('input#vehicle_name').val('').trigger('change'); return false;"
                            data-toggle="tooltip" 
                            data-placement="bottom" 
                            data-html="true" 
                            title="Verwijder voertuig naam"
                            >
                      <i class="far fa-trash-alt"></i>
                    </button>    
                  </div>
                  <div class="input-group-append info-button-style"
                       id="vehicle_name_info"
                       data-toggle="tooltip" 
                       data-placement="bottom" 
                       data-html="true" 
                       title="De naam wordt uit het gekoppelde account opgehaald."
                    >
                    <span class="input-group-text bg-secondary text-muted border-secondary">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </div>
                </div>
              </td>
            </tr>

            <tr id="vehicles_row">
              <th><h5>Voertuig</h5></th>
              <td>
                <div class="input-group">
                  <select class="form-control" id="vehicle" name="vehicle">
                    <option value="-" style="font-style: italic;">{% if rfid_model['vehicle_name'] is not none and rfid_model['vehicle_vin'] is not none %}{{ rfid_model['vehicle_name'] }} (VIN: {{ rfid_model['vehicle_vin'] }}){% else %}Geen voertuigen... (klik refresh){% endif %}</option>
                  </select>
                  <div class="input-group-append info-button-style"
                       id="vehicle_info"
                       data-toggle="tooltip" 
                       data-placement="bottom" 
                       data-html="true" 
                       title="Voertuigen uit het gekoppelde account"
                    >
                    <span class="input-group-text bg-secondary text-muted border-secondary">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </div>                
                <div>
              </td>
            </tr>
            <tr>
              <th><h5>Kilometerregistratie</h5></th>
              <td>
                <div class="input-group">
                  <span>
                    <input type="checkbox" 
                      {% if rfid_model['get_odometer'] == True %}checked{% endif %}
                      name="get_odometer"
                      id="get_odometer"
                      data-toggle="toggle"
                      data-on="<i class='fas fa-exchange-alt'></i> AAN"
                      data-off="<i class='fas fa-ban'></i> UIT"
                      data-onstyle="primary"
                      data-offstyle="dark"
                      data-size="sm"
                      data-height="40"
                      data-width="100"
                    />
                  </span>
                  <div class="input-group-append" id="get_odometer_info">
                    <span id="odo_1" class="input-group-text b-0 pl-4 text-light border-primary">
                      <i class="mdi mdi-alert-outline"></i>
                    </span>
                    <span id="odo_2" class="input-group-text b-0 pl-0 text-light border-primary">
                      Alleen beschikbaar bij een geschikt gekoppeld account
                    </span>
                  </div>
                </div>
              </td>
            </tr>

          </table>

          <div class="form-group text-right m-t-20">
            <div class="col-xs-12">
              <button class="btn btn-secondary btn-custom w-md waves-effect waves-light" type="button" onclick="window.location.href='/rfid_tokens/'">Annuleren</button>
              <button class="btn btn-primary btn-custom w-md waves-effect waves-light" type="button" onClick="submitRfidTokenUpdate()">Wijzigen</button>
            </div>
          </div>

        </div>
      </div>
    </div> <!-- end row -->
    </form>

  </div>
</div>


<!-- Bootstrap Modal -->
<div class="modal fade" id="showVehicleApiAuthorizationModal" tabindex="-1" role="dialog" aria-labelledby="showVehicleApiAuthorizationModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h3 class="modal-title" id="showVehicleApiAuthorizationModalLabel">Koppel <img src="{{ url_for('static', filename='images/logo/tesla.png') }}" style="max-width: 40px; max-height: 22px;"> Tesla Account <span id="showVehicleApiAuthorizationdTitle"></span></h3>
        <button type="button" class="close-x" data-dismiss="modal" aria-label="Close" id="showVehicleApiAuthorizationModalCloseButton">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">

        <div class="col-lg-12">

          <table id="apiAuthorizationTable" class="table table-bordered" cellpadding="0" cellspacing="0">

            <tr style="text-align: center;">
              <td colspan="2" class="pb-3">
                <img src="{{ url_for('static', filename='images/logo/tesla.png') }}" style="max-width: 100px; max-height: 50px;">
              </td>
            </tr>

            <tr>
              <td colspan="2" class="pl-4 pt-3 pb-3" style="text-align: left;">
                Doordat Tesla beperkingen heeft ingesteld kan op dit moment alleen een accountkoppeling worden geautoriseerd door het opgeven van het 
                <span class="text-success">emailadres</span> van het Tesla gebruikers account en 
                een <span class="text-success text-decoration-underline font-italic">refresh token</span>.
              </td>
            </tr>

            <tr>
              <th style="width: 20%;"><h5>Tesla e-mail</h5></th>
              <td>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-secondary b-0 text-muted border-primary">
                      <i class="mdi mdi-account"></i>
                    </span>
                  </div>
                  <input class="form-control" id="account_id" name="account_id" type="text" autocomplete="off" placeholder="E-mail" value="">
                  <div class="input-group-append info-button-style"
                       data-toggle="tooltip" 
                       data-placement="bottom" 
                       data-html="true" 
                       title="Dit is het emailadres waarmee wordt ingelogd op het Tesla account."
                    >
                    <span class="input-group-text bg-secondary text-muted border-secondary">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </div>
                  <button class="input-group-append bg-dark pl-3 pr-3 btn btn-outline-secondary border-dark text-white"
                          onclick="$('input#account_id').val('').trigger('change'); return false;"
                          data-toggle="tooltip" 
                          data-placement="bottom" 
                          data-html="true" 
                          title="<em>Verwijder email invoer</em>"
                          >
                    <i class="far fa-trash-alt"></i>
                  </button>    
                </div>
              </td>
            </tr>

            <tr>
              <th><h5><em>Autorisatie</em></h5></th>
              <td>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-secondary b-0 text-muted border-primary">
                      <i class="fas fa-key"></i>
                    </span>
                  </div>
                  <input class="form-control" id="vehicle_autorization" name="vehicle_autorization" type="text" autocomplete="off" placeholder="Refresh Token of URL" value="">
                  <div class="input-group-append info-button-style"
                       data-toggle="tooltip" 
                       data-placement="bottom" 
                       data-html="true" 
                       title="Kopieer het <em>refresh token</em> of de gehele URL in het autorisatie veld.<br/>
                              <small class='pl-4'><i class='mdi mdi-alert-outline'></i> <i>Na succesvol inloggen wordt er een 'Page not found' pagina getoond. Het inloggen is dan wel succesvol.</i></small>."
                    >
                    <span class="input-group-text bg-secondary text-muted border-secondary">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </div>
                  <button class="input-group-append bg-dark pl-3 pr-3 btn btn-outline-secondary border-dark text-white"
                          onclick="$('input#vehicle_autorization').val('').trigger('change'); return false;"
                          data-toggle="tooltip" 
                          data-placement="bottom" 
                          data-html="true" 
                          title="<em>Verwijder autorisatie invoer</em>"
                          >
                    <i class="far fa-trash-alt"></i>
                  </button>    
                </div>
              </td>
            </tr>


            <tr>
              <td colspan="2" class="pl-4 pt-3 pb-3" style="text-align: left;">
                <span class="text-light">
                  Opties:
                </span>
                <br/>
                <span class="text-light">
                      <i class="fas fa-info-circle"></i>
                </span> 
                Maak een <span class="text-success text-decoration-underline font-italic">refresh token</span> met <a href="https://apps.apple.com/us/app/id1552058613" target="_new">Auth for Tesla <i class="fas fa-external-link-alt"></i></a> voor iOS of MacOS, of <a href="https://play.google.com/store/apps/details?id=net.leveugle.teslatokens" target="_new">Tesla Tokens <i class="fas fa-external-link-alt"></i></a> voor Android.
                <br/>
                <span class="text-light">
                      <i class="fas fa-info-circle"></i>
                </span> 
                Login via de <a href="#" onClick="openExternalLoginPage(); return false;">Tesla inlog pagina <i class="fas fa-external-link-alt"></i></span></a> <a href="#" onClick="copyExternalLoginPage()"><i class="fas fa-copy"></i></a> en voer het <span class="text-success text-decoration-underline font-italic">refresh token</span> uit de URL of de hele URL in.<br/>
                <small class="pl-4"><i class="mdi mdi-alert-outline"></i> <i>Na succesvol inloggen wordt er een "Page not found" pagina getoond. Het inloggen is dan wel succesvol.</i></small>

                Helper
              </td>
            </tr>

          </table>

        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="show-link-account-cancelaction"> Annuleren</button>
        <button type="button" class="btn btn-primary" id="show-link-account-closeaction"> Koppel account</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}
