[Unit]
Description=CarCharger Web Application
After=syslog.target network.target

[Service]
; Raspberry user for this service to run
# run as web user
#User=www-data
User=pi
Group=www-data
# process starts, doesn't exit unless failing
Type=simple

WorkingDirectory=/home/pi/development/RestfulCharging/src/

;Environment="PATH=/home/pi/RestfullCharging/venv/bin“
ExecStart=/home/pi/development/RestfulCharging/venv/bin/python3 nl/carcharger/webapp/WebApp.py socketserver


[Install]
# start with default stuff when we enable automatic startup
WantedBy=default.target
#WantedBy=multi-user.target

